@model IEnumerable< GetStockViewModel>

@{
    ViewBag.Title = "Stocks";
}
<h4 class="text-left inline-header">Existing Stocks</h4>
<hr />
<table id="StockTable"
       data-toggle="table"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-detail-view="true"
       data-pagination="true"
       data-id-field="StockTable"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-page-size="15"
       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GodownName)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeName)
            </th>
            <th class="hidden">
                Specification(Inch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CQuantity)
            </th>
            <th class="hidden">
               Area(Sqft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesRate)
            </th>


            @*@if (User.Identity.GetConcernId() == 1 || User.Identity.GetConcernId() == 5 || User.Identity.GetConcernId() == 6)
            {
                <th>
                    @Html.DisplayNameFor(model => model.CreditSalesRate3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditSalesRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditSalesRate12)
                </th>
            }*@

            @if (User.IsInRole("LocalAdmin") || User.IsInRole("Admin"))
            {
                <th>S.Rate Update</th>
            }
        </tr>
    </thead>
    @{
        int count = 1;
        decimal AreaSqft = 0;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GodownName)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.ColorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeName)
                </td>
                <td class="hidden">
                    @if (item.CategoryName.ToLower().Equals("tiles"))
                    {
                        var area = item.SizeName.Split('x');
                        decimal length = Math.Round(Convert.ToDecimal(area[0]) / 2.5m);
                        decimal width = Math.Round(Convert.ToDecimal(area[1]) / 2.5m);
                        //decimal AreaSqftPerPcs = Math.Round(((length * width) / 144m), 4); //sqft
                        //AreaSqft = Math.Round(AreaSqftPerPcs * item.Quantity, 4);
                        <span>@length<span>x</span>@width</span>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CQuantity)
                </td>
             
                <td class="hidden">
                    @if (item.TotalSFT != 0)
                    {
                        <span>@item.TotalSFT</span>
                    }
                    else
                    {
                        <span>
                            N/A
                        </span>
                    }
                </td>
                <td>
                    @item.SalesRate
                </td>
                @*<td>
                    @Math.Round(item.SalesRate*item.ConvertValue,2)
                </td>*@

                @*@if (User.Identity.GetConcernId() == 1 || User.Identity.GetConcernId() == 5 || User.Identity.GetConcernId() == 6)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditSalesRate3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditSalesRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditSalesRate12)
                    </td>
                }*@

                @if (User.IsInRole("LocalAdmin") || User.IsInRole("Admin"))
                {
                    <td>
                        <input type="button" class="btn btn-info btn-xs" title="Update Sales Rate" id="showmodalbtn" value="Update" data-productname="@item.ProductName" data-productid=@item.ProductID data-colorid=@item.ColorID data-salesrate="@item.SalesRate" data-creditsalesrate6="@item.CreditSalesRate" data-creditsalesrate3="@item.CreditSalesRate3" data-creditsalesrate12="@item.CreditSalesRate12" />
                    </td>
                }

            </tr>
                count++;
                AreaSqft = 0;
        }
    }
</table>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Sales Rate Update</p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" class="form-control input-sm" id="ProductID" />
                    <input type="hidden" class="form-control input-sm" readonly id="ColorID" />
                    <div class="form-group">
                        <label class="control-label col-md-3">Product Name:</label>
                        <div class="col-md-6">
                            <input type="text" readonly class="form-control input-sm" id="ProductName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Cash Sales Rate:</label>
                        <div class="col-md-6">
                            <input type="number" class="form-control input-sm input-sm" id="CashSalesRate" />
                        </div>
                    </div>
                    @*@if (User.Identity.GetConcernId() == 1 || User.Identity.GetConcernId() == 5 || User.Identity.GetConcernId() == 6)
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3">Credit S.Rate 3:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" id="CreditSalesRate3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Credit S.Rate 6:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" id="CreditSalesRate6" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Credit S.Rate 12:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" id="CreditSalesRate12" />
                            </div>
                        </div>
                    }*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close</button>
                <button type="button" id="Submitbtn" class="btn btn-info  btn-xs" data-dismiss="modal">Update</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {

        $(document).on("click", "#showmodalbtn", function () {
            var ProductID = $(this).data("productid");
            var colorid = $(this).data("colorid");
            var cashsalesRate = $(this).data("salesrate");
            var creditsalesrate3 = $(this).data("creditsalesrate3");
            var creditsalesrate6 = $(this).data("creditsalesrate6");
            var creditsalesrate12 = $(this).data("creditsalesrate12");
            var productname = $(this).data("productname");
            $("#CashSalesRate").val(cashsalesRate);
            $("#CreditSalesRate3").val(creditsalesrate3);
            $("#CreditSalesRate6").val(creditsalesrate6);
            $("#CreditSalesRate12").val(creditsalesrate12);
            $("#ProductID").val(ProductID);
            $("#ColorID").val(colorid);
            $("#ProductName").val(productname);
            $("#myModal").modal("show");
            //alert(ProductID);
        });


        $(document).on("click", "#Submitbtn", function () {

            var cashsalesRate = $("#CashSalesRate").val();
            var creditsalesrate3 = $("#CreditSalesRate3").val();
            var creditsalesrate6 = $("#CreditSalesRate6").val();
            var creditsalesrate12 =$("#CreditSalesRate12").val();

            var ProductID = $("#ProductID").val();
            var ColorID = $("#ColorID").val();
            @*var ConcernID = @User.Identity.GetConcernId();

            if (ConcernID == 1 || ConcernID == 5 || ConcernID == 6)
            {
                if ((cashsalesRate == "" || cashsalesRate == 0) || (creditsalesrate3 == "" || creditsalesrate3 == 0)|| (creditsalesrate6 == "" || creditsalesrate6 == 0)|| (creditsalesrate12 == "" || creditsalesrate12 == 0))
                {
                    toastr.error("Please Enter Cash or Credit Sales Rate.");
                    return;
                }

            }
            else
            {*@
                if ((cashsalesRate == "" || cashsalesRate == 0))
                {
                    toastr.error("Please Enter Cash Sales Rate.");
                    return;
                }
                if (creditsalesrate3 == "" || creditsalesrate3 == undefined) {
                    creditsalesrate3 = 0;
                }
                if (creditsalesrate6 == "" || creditsalesrate6 == undefined) {
                    creditsalesrate6 = 0;
                }
                if (creditsalesrate12 == "" || creditsalesrate12 == undefined) {
                    creditsalesrate12 = 0;
                }
            //}


            var SalesRateModel = {
                'ProductID': ProductID,
                'ColorID': ColorID,
                'SalesRate': cashsalesRate,
                'CreditSalesRate3': creditsalesrate3,
                'CreditSalesRate6': creditsalesrate6,
                'CreditSalesRate12': creditsalesrate12
            };

            $.ajax({
                url: "@Url.Action("UpdateSalesRate", "Stock")",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(SalesRateModel),
                success: function (data) {
                    //console.log(data);
                    if (data == true) {
                        $("#myModal").modal("hide");
                        ClearTextBox();
                    }
                    location.reload();
                },
                error: function (data) {
                    console.log(data);
                    location.reload();
                    toastr.error("Update Failed");
                }

            });

        });

    });

    function ClearTextBox() {
        $("#ProductID").val("");
        $("#ColorID").val("");
        $("#ProductName").val("");
        $("#CashSalesRate").val("");
        $("#CreditSalesRate3").val("");
        $("#CreditSalesRate6").val("");
        $("#CreditSalesRate12").val("");
    }
</script>

