@model IEnumerable< DesWiseCommissionViewModel>
    @{
        ViewBag.Title = "Designation w. Comm;";
        string controllername = ViewContext.RouteData.Values["controller"].ToString();
    }
    <h4 class="text-left inline-header">Designation Wise Commissions</h4>
    @Html.ActionLink("Create new", "CreateDESwiseCommission", controllername, routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })
    <hr />
    <table id="DESwiseCommissionTable"
       data-toggle="table"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-detail-view="true"
       data-pagination="true"
       data-id-field="name"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-page-size="10"
       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th data-field="code"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>

            <th data-field="Name"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.CommissionPercent)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesignationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommissionPercent)
                    </td>
                    <td>
                            @Html.ActionLink("Edit", "EditDesWiseComm", new { id = item.ID })
                            <span>|</span>
                            @Html.ActionLink("Delete", "DeleteDesWiseComm", new { id = item.ID }, new { onclick = "if(!confirm('Do you want to delete this Transaction?')) return false;" })
                    </td>
                </tr>
                        count++;
            }
        }
    </tbody>
</table>

