@model IEnumerable<GetSalesOrderViewModel>

    @{
        ViewBag.Title = "Replacement Orders";
    }
    <h4 class="text-left inline-header">Existing replacement orders.</h4>
    @Html.ActionLink("Create new Replacement", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })
    <hr />
    <table id="salesOrderTable"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-detail-view="true"
           data-pagination="true"
           data-id-field="customerName"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-page-size="10"
           class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Sl
                </th>
                <th data-field="invoiceNo"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.InvoiceNo)
                </th>
                <th data-field="orderDate"
                    data-sorter="sorter"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th data-field="customerName"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th data-field="contactNo"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.ContactNo)
                </th>
                <th data-field="dueAmount"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.DueAmount)
                </th>
                <th data-field="status"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueAmount)
                        </td>
                        <td>
                            @if (item.Status.Equals("Sales"))
                            {
                                <span class="label label-success">Replacement</span>
                            }
                            else
                            {
                                <span class="label label-danger">@item.Status</span>
                            }
                        </td>

                        <td>
                            @Html.ActionLink("Invoice", "Invoice", new { orderId = item.SalesOrderId })
                        </td>
                    </tr>
                            count++;
                }
            }
        </tbody>
    </table>

    <script>
$(document).ready(function () {
@{
    if (TempData.ContainsKey("IsInvoiceReady") && Convert.ToBoolean(TempData["IsInvoiceReady"]) == true)
    {
        @:$.ajax({
        @:url: "/Report/ReplacementInvoice",
        @:type: "GET",
        @:dataType: "html",
        @:success: function (data) {
        @:$('#report').html(data);
        @:},
        @:error: function (err) {
        @:console.error(JSON.stringify(err));
        @:}
        @:});
     }

    if (TempData.ContainsKey("IsInvoiceReadyById") && Convert.ToBoolean(TempData["IsInvoiceReadyById"]) == true)
    {
        @:$.ajax({
        @:url: "/Report/ReplaceInvoiceById",
        @:type: "GET",
        @:dataType: "html",
        @:success: function (data) {
        @:$('#report').html(data);
        @:},
        @:error: function (err) {
        @:console.error(JSON.stringify(err));
        @:}
        @:});
     }
}
    });
    </script>
