@model IEnumerable<IMSWEB.CreateUserViewModel>

@{
    ViewBag.Title = "Users";
}

<h4 class="text-left inline-header">Existing application users.</h4>
@Html.ActionLink("Create new user", "Create", "User", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })
<hr />

<table id="userTable"
       data-toggle="table"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-detail-view="true"
       data-pagination="true"
       data-id-field="name"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-page-size="10"
       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th data-field="userName"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th data-field="email"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th data-field="phoneNumber"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th data-field="status"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @if(item.Status=="Active")
                        {
                            <span class="label label-success">@item.Status</span>
                        }
                        else
                        {
                           <span class="label label-danger">@item.Status</span> 
                        }
    
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "if(!confirm('Do you want to delete this user?')) return false;" }) |
                        @if (item.Status == "Active")
                        {
                          @Html.ActionLink("Inactive", "ChangeStatus", new { id = item.Id, status = "0" }, new { onclick = "if(!confirm('Do you want to inactive this user?')) return false;", @class="btn btn-xs btn-danger"})
                        }
                        else
                        {
                          @Html.ActionLink("Active", "ChangeStatus", new { id = item.Id, status = "1" }, new { onclick = "if(!confirm('Do you want to active this user?')) return false;", @class = "btn btn-xs btn-success" }) 
                        }
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>
