
@model IEnumerable<CreateExpenditureViewModel>
@using IMSWEB.Model
@{
    ViewBag.Title = "Income";
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<h4 class="text-left inline-header">Existing Income</h4>
<hr />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table text-nowrap">
                        <tr>
                            <td>
                                @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                <div class='col-sm-12 input-group date' id='FromDate'>
                                    <input type='text' class="input-sm form-control input-sm" name='FromDate' />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </td>
                            <td>
                                @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                <div class='col-sm-12 input-group date' id='ToDate'>
                                    <input type='text' class="input-sm form-control input-sm" name='ToDate' />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                            </td>
                            <td>
                                <div class="btn-group">
                                    <input id="btnPreview" type="submit" value="Search" class="btn btn-sm btn-info mr-2" />
                                    @Html.ActionLink("Create new", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<table id="supplierTable"
       data-toggle="table"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-detail-view="false"
       data-pagination="true"
       data-id-field="name"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-page-size="10"
       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th data-field="VoucherNo"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.VoucherNo)

            </th>
            <th data-field="code"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th data-field="ExpenseItemName"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.ExpenseItemName)
            </th>
            <th data-field="name"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th data-field="contactNo"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purpose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.ActionLink("Money Recpt.", "MoneyReceipt", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |

                        @if (User.IsInRole(EnumUserRoles.Admin.ToString()) || User.IsInRole(EnumUserRoles.LocalAdmin.ToString()))
                        {

                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-xs" }) <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "if(!confirm('Do you want to delete this supplier?')) return false;", @class = "btn btn-danger btn-xs" })
                        }
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {

        @{
            if (TempData.ContainsKey("ExpenditureID"))
            {
                @:$.ajax({
                                @:url: "/Report/IncomeMoneyReceipt",
                            @:type: "GET",
                            @:dataType: "html",
                            @:success: function (data) {
                                        @:$('#report').html(data);
                                        @:},
                            @:error: function (err) {
                                        @:console.error(JSON.stringify(err));
                                        @:}
                            @:});
                    }
       }


        $('#FromDate').datetimepicker({
            defaultDate: "@ViewBag.FromDate.ToString("dd-MMM-yyyy")",
            format: 'DD-MMM-YYYY'
        });

        $('#ToDate').datetimepicker({
            defaultDate: "@ViewBag.ToDate.ToString("dd-MMM-yyyy")",
            format: 'DD-MMM-YYYY'
        });
    });
</script>