@model IEnumerable<IMSWEB.GetTransferHistory>

    @{
        ViewBag.Title = "Transfer History";
    }

    <h4 class="text-left inline-header">Existing @ViewBag.Title</h4>
    @Html.ActionLink("Create new Transfer", "Create", "GodownToGodownTrans", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })
    <hr />

    <table id="Transfertable"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-detail-view="true"
           data-pagination="true"
           data-id-field="name"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-page-size="15"
           class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Sl
                </th>
                <th data-field="TransferDate"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.TransferDate)
                </th>
                <th data-field="code"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th data-field="CompanyName"
                    data-sorter="sorter"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th data-field="CategoryName"
                    data-sorter="sorter"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
               
                <th data-field="FromGodownName"
                    data-sorter="sorter"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.FromGodownName)
                </th>
                <th data-field="ToGodownName"
                    data-sorter="sorter"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.ToGodownName)
                </th>
                <th data-field="Quantity"
                    data-sorter="sorter"
                    data-sortable="true">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:dd MMM yyyy}", item.TransferDate))
                              @*@Html.DisplayFor(modelItem => item.TransferDate)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                     
                        <td>
                            @Html.DisplayFor(modelItem => item.FromGodownName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ToGodownName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TransferHID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TransferHID }, new { onclick = "if(!confirm('Do you want to delete this godown?')) return false;" })
                        </td>*@
                    </tr>
                    count++;
                }

            }
        </tbody>
    </table>
