@using IMSWEB.Model
@model IMSWEB.CreateSupplierViewModel

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + " Supplier";
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">@ViewBag.Title</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Supplier")">Supplier List</a></li>
                    <li class="breadcrumb-item active">@actionName</li>
                </ol>
            </div>
            <div class="col-md-4 text-right">
                <a href="@Url.Action("Index", "Supplier")" class="btn btn-sm btn-secondary waves-effect">
                    <i class="mdi mdi-arrow-left mr-1"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm(actionName, "Supplier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", role = "form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PhotoPath)
            @Html.HiddenFor(m => m.CustomerID)

            <div class="row">
                @* বাম কলাম: বেসিক ইনফরমেশন *@
                <div class="col-lg-6">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="header-title mb-4 text-primary"><i class="mdi mdi-truck-delivery mr-2"></i>Supplier Profile</h5>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.Code, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control form-control-sm bg-light", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger small" })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.Name, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", autofocus = "autofocus" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.ContactNo, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control form-control-sm", tabindex = 1 } })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger small" })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.OwnerName, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control form-control-sm", tabindex = 2 } })
                                    @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger small" })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label-sm">Photo</label>
                                <div class="col-md-9">
                                    <input class="form-control form-control-sm" id="Photo" name="Photo" type="file" accept="image/*"
                                           onchange="document.getElementById('supplierPicture').src = window.URL.createObjectURL(this.files[0])">
                                    <div class="mt-3 text-center">
                                        @{
                                            string imgPath = (Model != null && !string.IsNullOrEmpty(Model.PhotoPath))
                                                            ? "/Content/photos/suppliers/" + Model.PhotoPath
                                                            : "/Content/photos/suppliers/default.png";
                                        }
                                        <img id="supplierPicture" src="@imgPath" class="img-thumbnail shadow-sm" style="height: 120px; width: 120px; object-fit: cover;" alt="Preview" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* ডান কলাম: ব্যালেন্স এবং অতিরিক্ত তথ্য *@
                <div class="col-lg-6">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="header-title mb-4 text-primary"><i class="mdi mdi-cash-multiple mr-2"></i>Accounts & Address</h5>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.OpeningDue, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.OpeningDue, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", type = "number", id = "OpeningDue", tabindex = 3 } })
                                    @Html.ValidationMessageFor(model => model.OpeningDue, "", new { @class = "text-danger small" })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.TotalDue, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.TotalDue, new { htmlAttributes = new { @class = "form-control form-control-sm text-right bg-light", id = "TotalDue", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.Address, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control form-control-sm", rows = "3", tabindex = 5 })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.Remarks, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control form-control-sm", rows = "2" })
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                @Html.LabelFor(model => model.IsBoth, new { @class = "col-md-3 col-form-label-sm" })
                                <div class="col-md-9">
                                    <div class="custom-control custom-checkbox mt-1">
                                        @Html.CheckBoxFor(m => m.IsBoth, new { @class = "custom-control-input", id = "IsBoth" })
                                        <label class="custom-control-label" for="IsBoth">Is also a Customer?</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-12 text-right">
                                    <hr />
                                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light px-4">
                                        <i class="mdi mdi-check-circle mr-1"></i> @(actionName == "Create" ? "Save Supplier" : "Update Supplier")
                                    </button>
                                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary btn-sm px-4 ml-2">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        // Opening Due পরিবর্তনের সাথে সাথে Total Due আপডেট করা
        $("#OpeningDue").on("input", function () {
            var val = $(this).val();
            var amount = (val === "" ? 0 : parseFloat(val)).toFixed(2);
            $("#TotalDue").val(amount);
        });
    });

    // গ্লোবাল ফাংশন যদি না থাকে তার জন্য সেফটি চেক
    function getDefaultFloatIfEmpty(value) {
        var floatValue = parseFloat(value);
        return isNaN(floatValue) ? 0 : floatValue;
    }
</script>