@model IEnumerable<IMSWEB.GetCustomerViewModel>

@{
    ViewBag.Title = "Customers";
}

<h4 class="text-left inline-header">Existing customers</h4>
@Html.ActionLink("Create new customer", "Create", "Customer", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })
<hr />

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <table id="customerTable"
               data-toggle="table"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-detail-view="true"
               data-pagination="true"
               data-id-field="name"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-page-size="10"
               class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Sl
                    </th>
                    @*<th data-field="code"
                            data-sortable="true">
                            @Html.DisplayNameFor(model => model.Code)
                        </th>*@
                    <th data-field="name"
                        data-sorter="sorter"
                        data-sortable="true">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th data-field="contactNo"
                            data-sortable="true">
                            @Html.DisplayNameFor(model => model.ContactNo)
                        </th>*@
                    <th data-field="totalDue"
                        data-sortable="true">
                        @Html.DisplayNameFor(model => model.TotalDue)
                    </th>
                    <th data-field="Address"
                        data-sortable="true">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    @*<th data-field="customerType"
                            data-sortable="true">
                            @Html.DisplayNameFor(model => model.CustomerType)
                        </th>*@
                    @*<th data-field="cusDueLimit"
                            data-sortable="true">
                            @Html.DisplayNameFor(model => model.CusDueLimit)
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.ContactNo)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalDue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.CustomerType)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.CusDueLimit)
                                </td>*@
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "if(!confirm('Do you want to delete this customer?')) return false;" })
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
