@model IEnumerable<GetEmployeeViewModel>
@{
    ViewBag.Title = "Employees";
    int count = 1;
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">@ViewBag.Title</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Manage Existing Employees</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h5 class="header-title">Existing Employees</h5>
                            </div>
                            <div class="col-md-6 text-right">
                                @Html.ActionLink("Create New Employee", "Create", "Employee", null, new { @class = "btn btn-primary btn-sm", @id = "btnCreate" })
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="employeeTable"
                                   data-toggle="table"
                                   data-search="true"
                                   data-show-columns="true"
                                   data-pagination="true"
                                   data-page-size="10"
                                   data-search-align="left"
                                   class="table table-bordered dt-responsive nowrap table-hover"
                                   style="width: 100%;">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 50px;">SL.</th>
                                        <th data-field="code" data-sortable="true">@Html.DisplayNameFor(model => model.Code)</th>
                                        <th data-field="name" data-sortable="true">@Html.DisplayNameFor(model => model.Name)</th>
                                        <th data-field="contactNo" data-sortable="true">@Html.DisplayNameFor(model => model.ContactNo)</th>
                                        <th data-field="joiningDate" data-sortable="true">@Html.DisplayNameFor(model => model.JoiningDate)</th>
                                        <th data-field="designation" data-sortable="true">@Html.DisplayNameFor(model => model.DesignationName)</th>
                                        <th data-field="MachineEMPID" data-sortable="true">@Html.DisplayNameFor(model => model.MachineEMPID)</th>
                                        <th class="text-center" style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ContactNo)</td>
                                                <td>
                                                    @(item.JoiningDate != null ? Convert.ToDateTime(item.JoiningDate).ToString("dd-MMM-yyyy") : "")
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.DesignationName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.MachineEMPID)</td>
                                                <td class="text-center">
                                                    <div class="btn-group" role="group">
                                                        <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Edit", "Employee", new { id = item.Id })" title="Edit">
                                                            <i class="mdi mdi-pencil"></i>
                                                        </a>
                                                        <a class="btn btn-outline-danger btn-sm" href="@Url.Action("Delete", "Employee", new { id = item.Id })"
                                                           title="Delete" onclick="return confirm('Do you want to delete this employee?');">
                                                            <i class="mdi mdi-delete"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
}