@{
    ViewBag.Title = "Liability Report";
}
@using IMSWEB.Model
<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
<hr />
<div class="row">
    <div class="col-xm-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Ajax.BeginForm("LiabilityReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form", @class = "form-horizontal" }))
                {
                    <input type="hidden" name="ParentID" id="ParentID" value="@ViewBag.SIHID" />
                    <div class="form-group">
                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class='input-group date' id='FromDate'>
                                <input type='text' class="input-sm form-control input-sm" name='FromDate' />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9 ">
                            <div class='input-group date' id='ToDate'>
                                <input type='text' class="input-sm form-control input-sm" name='ToDate' />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Head", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("SIHID", new SelectList(ViewBag.Heads, "SIHID", "Name"), "Select Head", new { @class = "form-control input-sm" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="control-label col-md-9 col-md-offset-3">
                            <input type="checkbox" name="OnlyHead" value="1" />
                            Search by only head
                        </label>
                    </div>*@
                    <div class="form-group">
                        <div class="col-sm-3">
                            <img id="spinningIcon" height="45" width="45" style="display: none;" class="pull-right" src="~/Content/images/Spinner.gif" />
                        </div>
                        <div class="col-sm-9">
                            <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#SIHID').select2();
        $('#FromDate').datetimepicker({
            defaultDate: moment(),
            format: 'DD-MMM-YYYY'
        });

        $('#ToDate').datetimepicker({
            defaultDate: moment(),
            format: 'DD-MMM-YYYY'
        });

        //$('form').submit(function () {

        //    // Get the Login Name value and trim it
        //    var name = $.trim($('#SIHID').val());
        //    //var chk = $('#rdioDetail').prop("checked");
        //    // Check if empty of not
        //    if (name === '') {
        //        toastr.error("Please select a head.")
        //        return false;
        //    }
        //});
    });


</script>
