@model IMSWEB.CreateRoleViewModel
@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + " Role";
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">@ViewBag.Title</h4>
            </div>
            <div class="col-md-4 text-right">
                <a href="@Url.Action("Index", "Role")" class="btn btn-sm btn-secondary waves-effect">
                    <i class="mdi mdi-arrow-left mr-1"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm(actionName, "Role", FormMethod.Post, new { id = "roleForm" }))
        {
            @Html.AntiForgeryToken()
            @* এই ফিল্ডে সব সিলেক্ট করা আইডি জমা হবে *@
            <input type="hidden" id="SelectedMenuIds" name="MenuId" value="@Model.MenuId" />

            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="header-title mb-4">Role Info</h5>
                            <div class="form-group mb-4">
                                @Html.LabelFor(model => model.Name)
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save Role</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="header-title mb-4">Permissions</h5>
                            <div class="table-responsive">
                                <table id="menuTable" class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center" style="width: 50px;">
                                                <input type="checkbox" id="selectAll" />
                                            </th>
                                            <th class="text-center" style="width: 50px;">Sl</th>
                                            <th>Menu Title</th>
                                            <th>Parent</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int count = 1;
                                            var selectedIds = !string.IsNullOrEmpty(Model.MenuId) ? Model.MenuId.Split(',').ToList() : new List<string>();

                                            foreach (var item in Model.Menus)
                                            {
                                                bool isChecked = selectedIds.Contains(item.Id.ToString());
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" class="menu-checkbox"
                                                               value="@item.Id" @(isChecked ? "checked" : "") />
                                                    </td>
                                                    <td class="text-center">@count</td>
                                                    <td><strong>@item.Title</strong></td>
                                                    <td><span class="badge badge-soft-info">@(item.ParentId ?? "Main")</span></td>
                                                </tr>
                                                count++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {          
            $(document).on('change', '.menu-checkbox', function () {
                updateSelectedIds();
            });
        
            $('#selectAll').on('change', function () {
                $('.menu-checkbox').prop('checked', $(this).prop('checked'));
                updateSelectedIds();
            });
                        
            function updateSelectedIds() {
                var ids = [];
                $('.menu-checkbox:checked').each(function () {
                    ids.push($(this).val());
                });
                $('#SelectedMenuIds').val(ids.join(','));
            }
            
            updateSelectedIds();
        });
    </script>
}