@using IMSWEB.Model
@model IMSWEB.CreateCashCollectionViewModel

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + "Cash Collection";
}
<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
@using (Html.BeginForm(actionName, "CashCollection", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CashCollectionID)
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceiptNo, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ReceiptNo, new { htmlAttributes = new { @class = "form-control input-sm", tabindex = 1, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.ReceiptNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-md-3", autofocus = "autofocus" })
                                <div class="col-md-9">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.ExceptCreditCustomer, id = (Model != null && Model.CustomerID != null) ? Model.CustomerID : "0" });}
                                    @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                                </div>
                                @*<div class="col-md-7 full-width-picker fix-width-picker">
                                    @Html.DropDownListFor(model => model.CustomerID, new SelectList(ViewBag.CustomerIds, "Id", "Name", Model.CustomerID), "--Select Customer--", new { @class = "form-control input-sm ddl2", @id = "txtCustomerId" })

                                    @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                </div>*@
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CurrentDue, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.CurrentDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.CurrentDue, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 9 } })
                                    @Html.HiddenFor(model => model.TempAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 9 } })
                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.InterestAmt, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.InterestAmt, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 9 } })
                                    @Html.ValidationMessageFor(model => model.InterestAmt, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.AdjustAmt, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.AdjustAmt, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", tabindex = 10 } })
                                    @Html.ValidationMessageFor(model => model.AdjustAmt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BalanceDue, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.BalanceDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 11, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.BalanceDue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.EntryDate, htmlAttributes: new { @class = "control-label col-md-3", autofocus = "autofocus" })
                                <div class="col-md-9">
                                    @*@Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control input-sm" } })*@
                                    <div class='input-group date' id='EntryDate' tabindex="2">
                                        @if (User.IsInRole("Mobile User"))
                                        {
                                            <input type='text' class="input-sm form-control input-sm" readonly name='EntryDate' />
                                        }
                                        else
                                        {
                                            <input type='text' class="input-sm form-control input-sm" name='EntryDate' />
                                        }

                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EnumDropDownListFor(model => model.Type, "--Select Trans. Type--", new { @class = "form-control input-sm", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PaymentType, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.PaymentType, new SelectList(Enum.GetValues(typeof(IMSWEB.Model.EnumPayType))), new { @class = "form-control input-sm", tabindex = 5 })
                                    @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control input-sm", tabindex = 4 } })
                                    @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "input-sm form-control", tabindex = 10 } })
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Remind Date:</label>
                                <div class="col-md-9">
                                    <div class='input-group date' id='RemindDate'>
                                        <input type='text' class="input-sm form-control input-sm" name='RemindDate' id="RemindDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3 pull-right">
                                    @Html.EditorFor(model => model.IsSmsEnable, new { htmlAttributes = new { @class = "form-check-input" } })
                                    @Html.LabelFor(model => model.IsSmsEnable, htmlAttributes: new { @class = "form-check-label" })
                                    @Html.ValidationMessageFor(model => model.IsSmsEnable, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3 pull-right">
                                    <input type="submit" value="Add Payment Transaction" class="btn btn-sm btn-primary" tabindex="12" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $('[id*="CurrentDue"]').val(@ViewBag.SuppliersCurrentDue);
        //$('[id*="_CurrentDue"]').trigger("input");
        disablepicker();

        $('#RemindDate').datetimepicker({
            defaultDate: moment(),
            format: 'DD-MMM-YYYY'
        });



        @{
            if (TempData.ContainsKey("IsMoneyReceiptReady") && Convert.ToBoolean(TempData["IsMoneyReceiptReady"]) == true && Convert.ToBoolean(TempData["IsPOSShow"]) == false)
            {
        @:$.ajax({
                        @:url: "/Report/MoneyReceipt",
                        @:type: "GET",
                        @:dataType: "html",
                        @:success: function (data) {
                            @:$('#report').html(data);
                            @:},
                        @:error: function (err) {
                            @:console.error(JSON.stringify(err));
                            @:}
                        @:});
                 }
            }
    });
    $(function () {
        $("#PaymentTransaction").select2();
        $('#EntryDate').datetimepicker({
            @{
                if (Model == null || Model.EntryDate == null)
                {
                    @:defaultDate: moment(),
                                                                                        }
                else
                {
            @:defaultDate: '@(Convert.ToDateTime(Model.EntryDate).ToString("dd-MMM-yyyy"))',
                                                                                }
            @:format: 'DD-MMM-YYYY',
            @:maxDate: moment(),
                                                                                        }
        });

    });
    $("#CustomersModal").on("hidden.bs.modal", function () {
        Calculation();
    });


    function Calculation() {
        var totalDue = getDefaultFloatIfEmpty($("#CurrentDue").val());
        var amount = getDefaultFloatIfEmpty($("#Amount").val());
        var InterestAmt = getDefaultFloatIfEmpty($("#InterestAmt").val());
        var Tempamount = getDefaultFloatIfEmpty($("#TempAmount").val());
        var AdjustAmt = getDefaultFloatIfEmpty($("#AdjustAmt").val());
        var TempAdjustAmt = getDefaultFloatIfEmpty($("#TempAdjustAmt").val());
        totalDue = totalDue + Tempamount + TempAdjustAmt;
        var total = (totalDue - (amount + AdjustAmt - InterestAmt)).toFixed(2);

        $("#BalanceDue").val(getDefaultFloatIfEmpty(total));
    }

   $("#Amount").on("input", function () {
        Calculation();
    });

    $("#AdjustAmt").on("input", function () {
        Calculation();
    });
    $("#InterestAmt").on("input", function () {
        Calculation();
    });

    $("#TransactionType").on("change", disablepicker);

    function disablepicker() {
        var type = $("#TransactionType option:selected").text();
        var customer = $("button[data-target = #CustomersModal]");
        var supplier = $("button[data-target = #SuppliersModal]");

        //if (type == "FromCustomer")
        //{
        //    customer.removeAttr('disabled');
        //    supplier.attr('disabled', 'disabled');
        //}
        //else
        //{
        //    supplier.removeAttr('disabled');
        //    customer.attr('disabled', 'disabled');
        //}
    }

    $('#txtCustomerId').change(function () {
        var cusId = getDefaultIntIfEmpty($(this).val());
        if (cusId > 0) {
            loadCustomerInfo(cusId);
        }
    });



    function loadCustomerInfo(customerId) {

        $.ajax({
            url: "/CashCollection/GetCustomerInfoById",
            type: "GET",
            data: { 'customerId': customerId },
            dataType: "json",
            success: function (customer) {
                $('#CustomersCode').val($.trim(customer.Code));
                $('#CustomersName').val($.trim(customer.Name));
                $('#txtCustomerId').val($.trim(customer.Id));
                $('[id*="CurrentDue"]').val($.trim(customer.TotalDue));

                $('#txtCustomerId option[value="' + customerId + '"]').prop('selected', true);

                if (customer.CustomerType == 5) {
                    $('select[name="Type"]').css('pointer-events', 'none').css('background', '#e9ecef');
                } else {
                    $('select[name="Type"]').css('pointer-events', 'auto').css('background', '');
                }
            },
            error: function (err) {
                toastr.error(JSON.stringify(err));
                console.log(JSON.stringify(err))
            }
        });
    }



    $(document).ready(function () {

            @{
                     if (TempData.ContainsKey("IsMoneyReceiptById") && Convert.ToBoolean(TempData["IsMoneyReceiptById"]) == true && Convert.ToBoolean(TempData["isPosRecipt"]) == true && Convert.ToBoolean(TempData["IsPOSShow"]) == true)
{
    @:$.ajax({
            @:url: "/Report/PosMoneyReceiptByID",
            @:type: "GET",
            @:dataType: "html",
            @:success: function (data) {
                @:$('#report').html(data);
                @:},
            @:error: function (err) {
                @:console.error(JSON.stringify(err));
                @:}
            @:});
 }


        }


  });
</script>

