@using IMSWEB.Model
@model IMSWEB.CreateProductViewModel
@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + " Product";
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">@ViewBag.Title</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Product")">Product List</a></li>
                    <li class="breadcrumb-item active">@actionName</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title mb-4">Product Specifications</h5>

                        @using (Html.BeginForm(actionName, "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ProductId)
                            @Html.HiddenFor(m => m.PicturePath)

                            <div class="row">
                                @* Left Column *@
                                <div class="col-md-6">
                                    <div class="form-group row mb-3">
                                        @Html.LabelFor(m => m.Code, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.Code, new { htmlAttributes = new { @class = "form-control form-control-sm", @type = "number" } })
                                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        @Html.LabelFor(m => m.ProductName, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.ProductName, new { htmlAttributes = new { @class = "form-control form-control-sm", autofocus = "autofocus" } })
                                            @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3" id="IDCodeDiv" style="display:none">
                                        @Html.LabelFor(m => m.IDCode, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.IDCode, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(m => m.IDCode, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        @Html.LabelFor(m => m.CompanyId, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-7 pr-1">
                                            @Html.HiddenFor(m => m.CompanyId)
                                            @Html.EditorFor(m => m.CompanyName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger small" })
                                        </div>
                                        <div class="col-md-1 pl-1">
                                            <button id="btnAddCompany" type="button" class="btn btn-info btn-sm">
                                                <i class="mdi mdi-plus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        @Html.LabelFor(m => m.CategoryId, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-7 pr-1">
                                            @Html.HiddenFor(m => m.CategoryId)
                                            @Html.EditorFor(m => m.CategoryName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger small" })
                                        </div>
                                        <div class="col-md-1 pl-1">
                                            <button id="btnAddCategory" type="button" class="btn btn-info btn-sm">
                                                <i class="mdi mdi-plus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        @Html.LabelFor(m => m.SizeID, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-7 pr-1">
                                            @Html.HiddenFor(m => m.SizeID)
                                            @Html.EditorFor(m => m.SizeName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(m => m.SizeID, "", new { @class = "text-danger small" })
                                        </div>
                                        <div class="col-md-1 pl-1">
                                            <button id="btnAddSize" type="button" class="btn btn-info btn-sm">
                                                <i class="mdi mdi-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                @* Right Column *@
                                <div class="col-md-6">
                                    <div class="form-group row mb-3">
                                        @Html.Label("Pur Rate", new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.RP, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @type = "number" } })
                                            @Html.ValidationMessageFor(m => m.RP, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        @Html.LabelFor(m => m.MRP, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.MRP, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @type = "number" } })
                                            @Html.ValidationMessageFor(m => m.MRP, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        @Html.LabelFor(model => model.UnitType, htmlAttributes: new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.UnitType, new SelectList(Model.ProductUnitTypes, "ProUnitTypeID", "Description"), "--Select an unit--", new { @class = "form-control form-control-sm" })
                                            @Html.ValidationMessageFor(model => model.UnitType, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3" id="BundleQtyDiv" style="display:none">
                                        @Html.LabelFor(m => m.BundleQty, new { @class = "col-md-4 col-form-label-sm", @id = "lblUnitQty" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.BundleQty, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @type = "number" } })
                                            @Html.ValidationMessageFor(m => m.BundleQty, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3" id="LimitedStkQty">
                                        @Html.LabelFor(m => m.LimitedStkQty, new { @class = "col-md-4 col-form-label-sm" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.LimitedStkQty, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @type = "number" } })
                                            @Html.ValidationMessageFor(m => m.LimitedStkQty, "", new { @class = "text-danger small" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light" style="min-width: 120px;">
                                        <i class="mdi mdi-check-circle mr-1"></i> @(actionName == "Create" ? "Add Product" : "Update Product")
                                    </button>
                                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary btn-sm waves-effect ml-1">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal Update *@
<div id="newEntryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewHeader">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label id="lblName" class="col-md-3 col-form-label">Name:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" autofocus id="newName" />
                        <input type="hidden" id="entryType" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info btn-sm" id="btnAddCompanyCategory">Add</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/productConfig.js"></script>

<script>
    $('#ProductName').on('input', function () {
        var productName = $(this).val();
        var cleanedProductName = productName.replace(/\s+/g, ' ');
        $(this).val(cleanedProductName);
    });

    $('#chkIsKG').change(function () {
        if ($(this).is(':checked')) {
            $(this).val(true);
            $('#PTypeKG').show();
            $('#NonKg').hide();
        } else {
            $(this).val(false);
            $('#NonKg').show();
            $('#PTypeKG').hide();
        }
    });
</script>