@model IEnumerable<GetProductViewModel>
@using IMSWEB.Model
@{
    ViewBag.Title = "Product List";
    int count = 1;
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">Products</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Manage Existing Products</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h5 class="header-title">All Products</h5>
                            </div>
                            <div class="col-md-6 text-right">
                                @if (!User.IsInRole(EnumUserRoles.shafique_ref.ToString()))
                                {
                                    @Html.ActionLink("Create New Product", "Create", "Product", null, new { @class = "btn btn-primary btn-sm", @id = "btnCreate" })
                                }
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="productTable"
                                   data-toggle="table"
                                   data-search="true"
                                   data-trim-on-search="false"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-columns="true"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-page-list="[10, 25, 50, 100, ALL]"
                                   data-page-size="10"
                                   data-search-align="left"
                                   class="table table-bordered dt-responsive nowrap table-hover"
                                   style="width: 100%;">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 50px;">Sl</th>
                                        <th data-field="code" data-sortable="true">@Html.DisplayNameFor(model => model.ProductCode)</th>
                                        <th data-field="productName" data-sortable="true">@Html.DisplayNameFor(model => model.ProductName)</th>
                                        <th data-field="categoryName" data-sortable="true">@Html.DisplayNameFor(model => model.CategoryName)</th>
                                        <th data-field="companyName" data-sortable="true">@Html.DisplayNameFor(model => model.CompanyName)</th>
                                        <th data-field="SizeName" data-sortable="true">@Html.DisplayNameFor(model => model.SizeName)</th>
                                        <th data-field="RP" data-sortable="true">@Html.DisplayNameFor(model => model.RP)</th>
                                        <th data-field="MRP" data-sortable="true">@Html.DisplayNameFor(model => model.MRPRate)</th>

                                        @if (User.IsInRole(EnumUserRoles.Admin.ToString()) || User.IsInRole(EnumUserRoles.LocalAdmin.ToString()))
                                        {
                                            <th class="text-center" style="width: 100px;">Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@Html.DisplayFor(modelItem => item.ProductCode)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SizeName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RP)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MRPRate)</td>

                                            @if (User.IsInRole(EnumUserRoles.Admin.ToString()) || User.IsInRole(EnumUserRoles.LocalAdmin.ToString()))
                                            {
                                                <td class="text-center">
                                                    <div class="btn-group" role="group">
                                                        <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Edit", "Product", new { id = item.ProductId })" title="Edit">
                                                            <i class="mdi mdi-pencil"></i>
                                                        </a>
                                                        <a class="btn btn-outline-danger btn-sm" href="@Url.Action("Delete", "Product", new { id = item.ProductId })"
                                                           title="Delete" onclick="return confirm('Do you want to delete this product?');">
                                                            <i class="mdi mdi-delete"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
}