@using IMSWEB.Model
@model IMSWEB.CreateBankTransactionViewModel
@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + " BankTransaction";
}
<h4>@(ViewBag.Title + ".")</h4>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm(actionName, "BankTransaction", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.BankTranID);
                    <div class="form-group">
                        @Html.LabelFor(model => model.TransactionNo, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.TransactionNo, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.TransactionNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TranDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class='input-group date' id='TranDate' tabindex="2">
                                <input type='text' class="input-sm form-control input-sm" name='TranDate' />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.TranDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BankID, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Bank, id = (Model != null && Model.BankID != null) ? Model.BankID : "0" });}
                            @Html.ValidationMessageFor(m => m.BankID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EnumDropDownListFor(model => model.TransactionType, "--Select Transaction Type--", new { @class = "form-control input-sm", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.CustomerID, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.ExceptCreditCustomer, id = (Model != null && Model.CustomerID != null) ? Model.CustomerID : "0" });}
                            @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SupplierID, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Supplier, id = (Model != null && Model.SupplierID != null) ? Model.SupplierID : "0" });}
                            @Html.ValidationMessageFor(m => m.SupplierID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.AnotherBankID, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.AnotherBank, id = (Model != null && Model.AnotherBankID != null) ? Model.AnotherBankID : "0" });}
                            @Html.ValidationMessageFor(m => m.AnotherBankID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="SIHID">
                        @Html.LabelFor(model => model.SIHID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(i => i.SIHID, new SelectList(Model.Heads, "SIHID", "Name"), "Select Head", new { @class = "form-control input-sm", id = (Model != null && Model.SIHID != null ? Model.SIHID : "0") })
                            @Html.ValidationMessageFor(model => model.SIHID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Expense Items", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.ExpenseItemHead, id = (Model != null && !string.IsNullOrEmpty(Model.ExpenseItemID)) ? Model.ExpenseItemID : "0" });}
                            @Html.ValidationMessageFor(model => model.ExpenseItemID, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ExpenseItemID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Income Items", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.IncomeItemHeadNew, id = (Model != null && !string.IsNullOrEmpty(Model.IncomeItemID)) ? Model.IncomeItemID : "0" });}
                            @Html.ValidationMessageFor(model => model.IncomeItemID, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IncomeItemID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control input-sm  text-right", @type = "number", @step = "1" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ChecqueNo, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.ChecqueNo, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(m => m.ChecqueNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Remarks, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.Remarks, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn btn-sm btn-primary" id="addBankTrans" value="Add BankTransaction" />
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        PickerToggle();

        $('#TranDate').datetimepicker({
        @{
        if (Model == null || Model.TranDate == null)
        {
        @:defaultDate: moment(),
                    }
        else
        {
        @:defaultDate: '@(Convert.ToDateTime(Model.TranDate).ToString("dd-MMM-yyyy"))',
        }
        @:format: 'DD-MMM-YYYY'
        }
        });

    });

    $(document).on('change', '#TransactionType', function () {
        ClearPickerValue();
        PickerToggle();
    });

    function PickerToggle() {
        var t = $("#TransactionType").val();
        if (t !== "") {
            if (t == "1") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#ExpenseItemPicker").prop('disabled', true);
                $("#IncomeItemPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', true);



            }
            else if (t == "2") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', true);

            }
            else if (t == "3") {
                $("#CustomerPicker").prop('disabled', false);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', true);

            }
            else if (t == "4") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', false);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', true);

            }
            else if (t == "5") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', false);
                $("#SIHID").prop('disabled', true);

            }
            else if (t == "6") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#ExpenseItemPicker").prop('disabled', false);
                $("#IncomeItemPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', true);


            }
                 else if (t == "7") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#ExpenseItemPicker").prop('disabled', true);
                $("#IncomeItemPicker").prop('disabled', false);
                $("#SIHID").prop('disabled', true);


            }
                else if (t == "8" || t == "9") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', false);
                $("#ExpenseItemPicker").prop('disabled', true);
                $("#IncomeItemPicker").prop('disabled', true);

            }
            else if (t == "10") {
                $("#CustomerPicker").prop('disabled', true);
                $("#SupplierPicker").prop('disabled', false);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', true);

            }
            else if (t == "11") {
                $("#CustomerPicker").prop('disabled', false);
                $("#SupplierPicker").prop('disabled', true);
                $("#AnotherBankPicker").prop('disabled', true);
                $("#SIHID").prop('disabled', true);

            }
            else {
                $("#CustomerPicker").prop('disabled', false);
                $("#SupplierPicker").prop('disabled', false);
                $("#AnotherBankPicker").prop('disabled', false);
            }
        }
    }

    function ClearPickerValue() {
        $('#CustomersName').val('');
        $('#CustomersCode').val('');
        $('#CustomersId').val('');

        $('#SuppliersCode').val('');
        $('#SuppliersName').val('');
        $('#SuppliersId').val('');

        $('#AnotherBanksCode').val('');
        $('#AnotherBanksName').val('');
        $('#AnotherBanksId').val('');
    }

    $("#addBankTrans").click(function () {
        setTimeout(function () { disableButton(); }, 50);

    });

    function disableButton() {
        $("#addBankTrans").prop('disabled', true);
    }

</script>