@model dynamic
<div class="input-group">
    <input type="text" class="input-sm form-control input-sm" id="AnotherBanksCode" name="AnotherBanksCode" value="@ViewBag.AnotherBanksCode" readonly="readonly">
    <span class="input-group-btn">
        <button type="button" id="AnotherBankPicker" class="btn btn-sm btn-info" data-toggle="modal" data-target="#AnotherBanksModal"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Pick</button>
    </span>
    <input type="text" class="input-sm form-control input-sm" id="AnotherBanksName" name="AnotherBanksName" value="@ViewBag.AnotherBanksName" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="AnotherBanksId" name="AnotherBanksId" value="@ViewBag.AnotherBanksId" readonly="readonly">
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="AnotherBanksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Existing Another Banks</h5>
            </div>
            <div class="modal-body">
                <div id="Categoriestoolbar">
                    @Html.ActionLink("Create new", "Create", "Bank", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm", target = "_blank" })
                    <span class="text-warning">&nbsp;(Requires reload current page to get new item)</span>
                </div>
                <table id="AnotherBanksTable"
                       data-toolbar="#Bankstoolbar"
                       data-toggle="table"
                       data-search="true"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-detail-view="true"
                       data-pagination="true"
                       data-id-field="name"
                       data-page-list="[10, 25, 50, 100, ALL]"
                       data-page-size="6"
                       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-field="id" class="hidden">
                            </th>
                            <th data-checkbox="true">
                            </th>
                            <th>
                                Sl
                            </th>
                            <th data-field="Anothercode"
                                data-sortable="true">
                                Code
                            </th>
                            <th data-field="AnotherBankName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Bank Name
                            </th>
                            <th data-field="AnotherBranchName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Branch Name
                            </th>
                            <th data-field="ToAccountName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Account Name
                            </th>
                            <th data-field="AnotherAccountNo"
                                data-sorter="sorter"
                                data-sortable="true">
                                Account No
                            </th>
                            <th data-field="Amount"
                                data-sorter="sorter"
                                data-sortable="true">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="hidden">
                                        @item.Id
                                    </td>
                                    <td></td>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @item.Code
                                    </td>
                                    <td>
                                        @item.BankName
                                    </td>
                                    <td>
                                        @item.BranchName
                                    </td>
                                    <td>
                                        @item.AccountName
                                    </td>
                                    <td>
                                        @item.AccountNo
                                    </td>
                                    <td>
                                        @item.TotalAmount
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var $table = $('#AnotherBanksTable');
    $table.on('check.bs.table', function (e, row) {
        $('#AnotherBanksCode').val($.trim(row.Anothercode));
        $('#AnotherBanksName').val($.trim(row.AnotherBankName));
        $('#AnotherBanksId').val($.trim(row.id));
    });
    $table.on('uncheck.bs.table', function (e, row) {
        $('#AnotherBanksCode').val('');
        $('#AnoherBanksName').val('');
        $('#AnotherBanksId').val('');
    });
</script>
