@model dynamic

<!-- ========================= -->
<!-- Employee Picker -->
<!-- ========================= -->

<div class="row">

    <div class="col-md-12">

        <label class="font-weight-bold mb-2">
            Select Employee
        </label>

        <div class="input-group">

            <!-- Employee Code -->

            <input type="text"
                   id="EmployeesCode"
                   name="EmployeesCode"
                   class="form-control form-control-sm bg-light"
                   value="@ViewBag.EmployeesCode"
                   placeholder="Employee Code"
                   readonly />



            <!-- Button -->

            <div class="input-group-append">

                <button type="button"
                        class="btn btn-primary btn-sm px-3"
                        data-toggle="modal"
                        data-target="#EmployeesModal">

                    <i class="mdi mdi-account-search"></i>

                </button>

            </div>



            <!-- Employee Name -->

            <input type="text"
                   id="EmployeesName"
                   name="EmployeesName"
                   class="form-control form-control-sm bg-light"
                   value="@ViewBag.EmployeesName"
                   placeholder="Employee Name"
                   readonly />



            <!-- Hidden Id -->

            <input type="hidden"
                   id="EmployeesId"
                   name="EmployeesId"
                   value="@ViewBag.EmployeesId" />

        </div>

    </div>

</div>





<!-- ========================= -->
<!-- Employee Modal -->
<!-- ========================= -->

<div class="modal fade"
     id="EmployeesModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog modal-xl modal-dialog-centered">

        <div class="modal-content border-0 shadow-lg">

            <!-- Header -->

            <div class="modal-header bg-primary text-white">

                <h5 class="modal-title text-white">

                    <i class="mdi mdi-account-group mr-1"></i>
                    Select Employee

                </h5>

                <button type="button"
                        class="close text-white"
                        data-dismiss="modal">

                    <span>&times;</span>

                </button>

            </div>





            <!-- Body -->

            <div class="modal-body p-3">

                <!-- Top Section -->

                <div class="row mb-3">

                    <div class="col-md-8">

                        <input type="text"
                               id="employeeSearch"
                               class="form-control form-control-sm"
                               placeholder="Search employee by code or name..." />

                    </div>

                    <div class="col-md-4 text-right">

                        @Html.ActionLink(
                            "Create New Employee",
                            "Create",
                            "Employee",
                            null,
                            new
                            {
                                @class = "btn btn-primary btn-sm",
                                target = "_blank"
                            })

                    </div>

                </div>





                <!-- Table -->

                <div class="table-responsive">

                    <table class="table table-hover table-bordered mb-0"
                           id="EmployeesTable">

                        <thead class="thead-light">

                            <tr>

                                <th width="70" class="text-center">
                                    SL
                                </th>

                                <th width="180">
                                    Code
                                </th>

                                <th>
                                    Employee Name
                                </th>

                                <th width="120" class="text-center">
                                    Action
                                </th>

                            </tr>

                        </thead>

                        <tbody>

                            @{

                                int count = 1;

                                foreach (var item in Model)
                                {

                                    <tr>

                                        <td class="text-center">
                                            @count
                                        </td>

                                        <td class="font-weight-bold">
                                            @item.Code
                                        </td>

                                        <td>
                                            @item.Name
                                        </td>

                                        <td class="text-center">

                                            <button type="button"
                                                    class="btn btn-success btn-sm select-employee"
                                                    data-id="@item.Id"
                                                    data-code="@item.Code"
                                                    data-name="@item.Name">

                                                <i class="mdi mdi-check"></i>
                                                Select

                                            </button>

                                        </td>

                                    </tr>

                                    count++;

                                }

                            }

                        </tbody>

                    </table>

                </div>

            </div>





            <!-- Footer -->

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary btn-sm"
                        data-dismiss="modal">

                    Close

                </button>

            </div>

        </div>

    </div>

</div>





@section Scripts{

    <script>

        // ====================================
        // Select Employee
        // ====================================

        $(document).on('click', '.select-employee', function () {

            var id = $(this).data('id');
            var code = $(this).data('code');
            var name = $(this).data('name');

            // set values
            $('#EmployeesId').val(id);
            $('#EmployeesCode').val(code);
            $('#EmployeesName').val(name);

            // close modal
            $('#EmployeesModal').modal('hide');

        });





        // ====================================
        // Search
        // ====================================

        $(document).on('keyup', '#employeeSearch', function () {

            var value = $(this).val().toLowerCase();

            $('#EmployeesTable tbody tr').filter(function () {

                $(this).toggle(

                    $(this).text().toLowerCase().indexOf(value) > -1

                );

            });

        });

    </script>

}