@model IEnumerable<dynamic>
<div class="input-group">
    <input type="text" class="input-sm form-control input-sm" id="ProductsCode" name="ProductsCode" value="@ViewBag.ProductsCode" readonly="readonly">
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#ProductsModal"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Pick</button>
    </span>
    <input type="text" class="input-sm form-control input-sm" id="ProductsName" name="ProductsName" value="@ViewBag.ProductsName" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="ProductsId" name="ProductsId" value="@ViewBag.ProductsId" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="ProductsType" name="ProductsType" value="@ViewBag.ProductsType" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="CategoryName" name="CategoryName" value="@ViewBag.CategoryName" readonly="readonly">
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="ProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Existing Products</h5>
            </div>
            <div class="modal-body">
                <div id="Productstoolbar">
                    @Html.ActionLink("Create new", "Create", "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm", target = "_blank" })
                    <span class="text-warning">&nbsp;(Requires reload current page to get new item)</span>
                </div>
                <table id="ProductsTable"
                       data-toolbar="#Productstoolbar"
                       data-toggle="table"
                       data-search="true"
                       data-trim-on-search="false"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-detail-view="true"
                       data-pagination="true"
                       data-id-field="name"
                       data-page-list="[10, 25, 50, 100, ALL]"
                       data-page-size="6"
                       class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-field="id" class="hidden">
                            </th>
                            <th data-field="ConvertValue" class="hidden">
                            </th>
                            <th data-checkbox="true">
                            </th>
                            <th>
                                Sl
                            </th>
                            <th data-field="code"
                                data-sortable="true">
                                Code
                            </th>
                            <th data-field="name"
                                data-sorter="sorter"
                                data-sortable="true">
                                Name
                            </th>
                            <th data-field="CompanyName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Company
                            </th>
                            <th data-field="category"
                                data-sorter="sorter"
                                data-sortable="true">
                                Category
                            </th>
                            <th data-field="SizeName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Size
                            </th>
                            <th data-field="RP"
                                data-sorter="sorter"
                                data-sortable="true">
                                RP
                            </th>
                            <th data-field="MRP"
                                data-sorter="sorter"
                                data-sortable="true">
                                MRP
                            </th>

                            @*<th data-field="SalesCSft"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    Sales CSft
                                </th>*@
                            <th data-field="ParentQty"
                                data-sorter="sorter"
                                data-sortable="true">
                                Stock
                            </th>
                            <th data-field="ParentUnitName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Unit
                            </th>
                            <th data-field="preStock"
                                data-sorter="sorter"
                                data-sortable="true">
                                Pre. Stock
                            </th>
                            <th data-field="ChildUnitName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Unit
                            </th>
                            <th data-field="ProductsType" class="hidden"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="hidden">
                                        @item.ProductID
                                    </td>

                                    <td class="hidden">
                                        @item.ConvertValue
                                    </td>
                                    <td></td>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @item.ProductCode
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.CompanyName
                                    </td>
                                    <td>
                                        @item.CategoryName
                                    </td>
                                    <td>
                                        @item.SizeName
                                    </td>
                                    <td>
                                        @item.RP
                                    </td>
                                    <td>
                                        @item.MRP
                                    </td>

                                    <td>
                                        @item.ParentQuantity <!-- Display ParentQuantity instead of totalQuantity -->
                                    </td>
                                    <td class="">
                                        @item.ParentUnitName
                                    </td>
                                    <td>
                                        @item.ChildQuantity
                                    </td>
                                    <td class="">
                                        @item.ChildUnitName
                                    </td>
                                    <td class="hidden">
                                        @item.ProductType
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var $table = $('#ProductsTable');
    $(document).ready(function () {
    $('[id*="_preStock"]').val(@ViewBag.ProductsPreviousStock);
});
    $table.on('check.bs.table', function (e, row) {
        //console.log(row);
        var SRate = $.trim(row.RP);
        var Category = $.trim(row.category);
        var UnitType = $.trim(row.ParentUnitName);
        $('#CategoryName').val($.trim(row.category));

        if (Category == "Tiles")
        {
            $("#AreaPerCartondiv").show();
            $("#TotalAreadiv").show();
            $("#RatePerAreadiv").show();
            $("#PODetail_MRPRateParent").prop("readonly", true);
            $("#PODetail_MRPRate").prop("readonly", true);
        }
        else
        {
            $("#AreaPerCartondiv").hide();
            $("#TotalAreadiv").hide();
            $("#RatePerAreadiv").hide();
            $("#PODetail_MRPRateParent").prop("readonly", false);
            $("#PODetail_MRPRate").prop("readonly", false);
        }

        $('#ProductsCode').val($.trim(row.code));
        $('#ProductsName').val($.trim(row.name));
        $('#PODetail_UnitType').val($.trim(row.ParentUnitName));
        $('#PODetail_TempChildUnitType').val($.trim(row.ChildUnitName));
        $('#ParentQuantity').val($.trim(row.ParentQty));
        $('#PODetail_Category').val(Category);
        $('#PODetail_SalesRate').val($.trim(row.MRP)).trigger("input");
        $('[id*="_ConvertValue"]').val($.trim(row.ConvertValue));
        $('#PODetail_MRPRateParent').val($.trim(row.RP)).trigger("input");
        $('#PODetail_SizeName').val($.trim(row.SizeName)).trigger("input");
        $('[id*="_DDLiftingPrice"]').val($.trim(row.MRP));
        //$('[id*="_MRP"]').val($.trim(row.MRP));
        //$('#Detail_UnitPrice').val($.trim(row.RP));
        //$('#Detail_PreviousStock').val($.trim(row.ParentQty));
        //alert(row.ParentQty);


        $('#ProductsId').val($.trim(row.id));
        $('#ProductsType').val($.trim(row.ProductsType));

        $('[id*="_PreviousStock"]').val($.trim(row.preStock));
        //$('[id*="_MRPRate"]').val($.trim(row.MRP)).trigger("input");

        $("#lblParentUnit").text($.trim(row.ParentUnitName));
        $("#lblChildUnit").text($.trim(row.ChildUnitName));
        $("#lblMRPParent").text('Rate/' + $.trim(row.ParentUnitName));
        $("#lblMRP").text('Rate/' + $.trim(row.ChildUnitName));
        $("#lblConvertValue").text($.trim(row.ChildUnitName) + '/' + $.trim(row.ParentUnitName));

        $('[id*="_SizeName"]').val($.trim(row.SizeName));
        $('[id*="_AreaPerCarton"]').val($.trim(row.PurchaseCSft));
        ToggleUnitPriceField(UnitType);

    });
    $table.on('uncheck.bs.table', function (e, row) {
        $('#ProductsCode').val('');
        $('#ProductsName').val('');
        $('#ProductsId').val('');
        $('#ProductsType').val('');
        $('[id*="_PreviousStock"]').val('');
        $('[id*="_MRPRate"]').val('').trigger("input");
        $('#CategoryName').val('');
        $('[id*="_DDLiftingPrice"]').val('');
        //$('[id*="_MRP"]').val('');
        //$('#Detail_UnitPrice').val('');

    });





    function ToggleUnitPriceField(UnitType) {
        if (UnitType.toLowerCase() == "pcs") {

            $("#divUnitPrice").hide();
            $("#divChildQuantity").hide();
        }
        else {
            $("#divUnitPrice").show();
            $("#divChildQuantity").show();
        }
    }



</script>
