@model IEnumerable<GetProductViewModel>
<div class="input-group">
    <input type="text" class="input-sm form-control input-sm" id="ProductDetailsCode" name="ProductDetailsCode" value="@ViewBag.PDetailsCode" readonly="readonly">
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#ProductDetailsModal"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Pick</button>
    </span>
    <input type="text" class="input-sm form-control input-sm" id="ProductDetailsName" name="ProductDetailsName" value="@ViewBag.PDetailsName" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="ProductDetailsId" name="ProductDetailsId" value="@ViewBag.PDetailsId" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="StockDetailsId" name="StockDetailsId" value="@ViewBag.PDetailsStockDetailId" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="ColorsId" name="ColorsId" value="@ViewBag.PDetailsColorId" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="Offer" name="OfferDescription" value="@ViewBag.OfferDescription" readonly="readonly"> 
    <input type="hidden" class="input-sm form-control input-sm" id="ProductType" name="ProductType" value="@ViewBag.ProductType" readonly="readonly">

</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="ProductDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Existing ProductDetails</h5>
            </div>
            <div class="modal-body">
                <div id="ProductDetailstoolbar">
                    @Html.ActionLink("Create new", "Create", "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm", target = "_blank" })
                    <span class="text-warning">&nbsp;(Requires reload current page to get new item)</span>
                </div>
                <table id="ProductDetailsTable"
                       data-toolbar="#ProductDetailstoolbar"
                       data-toggle="table"
                       data-search="true"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-detail-view="false"
                       data-pagination="true"
                       data-id-field="name"
                       data-page-list="[10, 25, 50, 100, ALL]"
                       data-page-size="6"
                       class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-field="id" class="hidden">
                            </th>
                            <th data-field="ConvertValue" class="hidden">
                            </th>
                            <th data-field="imeNo" class="hidden">
                            </th>
                            <th data-checkbox="true">
                            </th>
                            <th>
                                Sl
                            </th>
                            <th data-field="code"
                                data-sortable="true">
                                Code
                            </th>
                            <th data-field="name"
                                data-sorter="sorter"
                                data-sortable="true">
                                Name
                            </th>
                            <th data-field="CompanyName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Company
                            </th>
                            <th data-field="category"
                                data-sorter="sorter"
                                data-sortable="true">
                                Category
                            </th>
                            <th data-field="SizeName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Size
                            </th>
                            <th class="hidden" data-field="PurchaseCSft"
                                data-sorter="sorter"
                                data-sortable="true">
                                P. CSft
                            </th>
                            <th class="hidden" data-field="SalesCSft"
                                data-sorter="sorter"
                                data-sortable="true">
                                S. CSft
                            </th>
                            <th class="hidden" data-field="SizeNameInch"
                                data-sorter="sorter"
                                data-sortable="true">
                                Specification(Inch)
                            </th>
                            <th data-field="detailId" class="hidden">
                            </th>
                            <th data-field="colorId" class="hidden">
                            </th>

                            <th data-field="mrpRate"
                                data-sorter="sorter"
                                data-sortable="true" class="hidden">
                                MRP Rate
                            </th>
                            <th data-field="ParentMRP"
                                data-sorter="sorter"
                                data-sortable="true">
                                Sales Rate
                            </th>
                            <th data-field="preStock"
                                data-sorter="sorter"
                                data-sortable="true" class="hidden">
                                Stock Quantity
                            </th>
                            <th data-field="ParentQty"
                                data-sorter="sorter"
                                data-sortable="true">
                                Qty
                            </th>
                            <th data-field="ParentUnit"
                                data-sorter="sorter"
                                data-sortable="true">
                                Unit
                            </th>
                            <th data-field="ChildQty"
                                data-sorter="sorter"
                                data-sortable="true">
                                Qty
                            </th>
                            <th data-field="ChildUnit"
                                data-sorter="sorter"
                                data-sortable="true">
                                Unit
                            </th>
                            <th class="hidden" data-field="Area"
                                data-sorter="sorter"
                                data-sortable="true">
                                Area(Sqft)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                            decimal AreaSqft=0;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="hidden">
                                        @item.ProductId
                                    </td>
                                    <td class="hidden">
                                        @item.ConvertValue
                                    </td>
                                    <td class="hidden">
                                        @item.IMENo
                                    </td>
                                    <td></td>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @item.ProductCode
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.CompanyName
                                    </td>
                                    <td>
                                        @item.CategoryName
                                    </td>
                                    <td>
                                        @item.SizeName
                                    </td>
                                    <td class="hidden">
                                        @item.PurchaseCSft
                                    </td>
                                    <td class="hidden">
                                        @item.SalesCSft
                                    </td>
                                    <td class="hidden">
                                        @if (item.CategoryName.ToLower().Equals("tiles"))
                                        {
                                            var area = item.SizeName.Split('x');
                                            decimal length = Math.Round(Convert.ToDecimal(area[0]) / 2.5m);
                                            decimal width = Math.Round(Convert.ToDecimal(area[1]) / 2.5m);
                                            //decimal AreaSqftPerPcs = Math.Round(((length * width) / 144m), 4); //sqft
                                            //AreaSqft = Math.Round(AreaSqftPerPcs * item.PreStock, 4);
                                            <span>@length<span>x</span>@width</span>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                    </td>
                                    <td class="hidden">
                                        @item.StockDetailsId
                                    </td>
                                    <td class="hidden">
                                        @item.ColorId
                                    </td>
                                    <td class="hidden">
                                        @item.MRPRate.ToString("F2")
                                    </td>
                                    <td>
                                        @item.ParentMRP.ToString("F2")
                                    </td>
                                    <td class="hidden">
                                        @item.PreStock
                                    </td>
                                    <td>
                                        @item.ParentQty
                                    </td>
                                    <td>
                                        @item.ParentUnit
                                    </td>
                                    <td>
                                        @item.ChildQty
                                    </td>
                                    <td>
                                        @item.ChildUnit
                                    </td>
                                    <td class="hidden">
                                        @item.TotalSFT
                                    </td>
                                </tr>
                                count++;
                                AreaSqft = 0;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[id*="_OfferDescription"]').text(@ViewBag.OfferDescription);
        //$('[id*="_CurrentDue"]').trigger("input");
        var ProductType = $("#ProductType").val();
        if(ProductType=="2")
        {
            $('[id*="_Quantity"]').attr("readonly", false);
        }
        ToggleTilesField($('[id*="_CategoryName"]').val());

        @{
            if (ViewBag.PDetailsName != null)
            {
                @:$("#lblParentUnit").text($.trim('@ViewBag.UnitName'));
            }

        }

    });


    var $table = $('#ProductDetailsTable');
    $table.on('check.bs.table', function (e, row) {
/*        $('#CategoryName').val($.trim(row.category));*/
        var Category = $.trim(row.category);
        var UnitType = $.trim(row.ParentUnit);
        $('[id*="_TotalArea"]').val('').trigger("input");
        $('#ProductDetailsCode').val($.trim(row.code));
        $('#ProductDetailsName').val($.trim(row.name));
        $('#ProductDetailsId').val($.trim(row.id));
        $('#StockDetailsId').val($.trim(row.detailId));
        $('#ColorsId').val($.trim(row.colorId));
        /*        $('#SODetail_CategoryName').val($.trim(row.colorId));*/
        $('#SODetail_SizeName').val($.trim(row.SizeName));
        $('#SODetail_UnitType').val(UnitType);

        $('#SODetail_CategoryName').val(Category);
 
        //$('#PODetail_MRPRateParent').val($.trim(row.RP)).trigger("input");
        //$('#PODetail_SizeName').val($.trim(row.SizeName)).trigger("input");


        //$('#OfferDescription').val($.trim(row.));
        $('[id*="_IMENo"]').val($.trim(row.imeNo));
        $('[id*="_ColorName"]').val($.trim(row.colorname));
        $('[id*="_CategoryName"]').val($.trim(row.category));
        $('[id*="_PreviousStock"]').val($.trim(row.preStock));
        $('[id*="_RatePerArea"]').val($.trim(row.ParentMRP)).trigger("input");
        $('[id*="_MRPRate"]').val($.trim(row.mrpRate)).trigger("input");
        //$('[id*="_Quantity"]').val('');
        //$('[id*="_OfferDescription"]').text(row.OfferDescription);
        //$('[id*="_CompressorWarrentyMonth"]').val($.trim(row.CompressorWarrentyMonth));
        //$('[id*="_PanelWarrentyMonth"]').val($.trim(row.PanelWarrentyMonth));
        //$('[id*="_MotorWarrentyMonth"]').val($.trim(row.MotorWarrentyMonth));
        //$('[id*="_SparePartsWarrentyMonth"]').val($.trim(row.SparePartsWarrentyMonth));
        //$('[id*="_ServiceWarrentyMonth"]').val($.trim(row.ServiceWarrentyMonth));

        $("#lblParentUnit").text($.trim(row.ParentUnit));
        $("#lblChildUnit").text($.trim(row.ChildUnit));
        $("#lblMRP").text('Rate/' + $.trim(row.ChildUnit));
        $("#lblConvertValue").text($.trim(row.ChildUnit) + '/' + $.trim(row.ParentUnit));
        $("#lblRatePerArea").text($.trim('Rate/' + $.trim(row.ParentUnit)));
        $('[id*="_ConvertValue"]').val($.trim(row.ConvertValue));
        $('[id*="_SizeName"]').val($.trim(row.SizeName));
        $('[id*="_AreaPerCarton"]').val($.trim(row.SalesCSft));

        //if ($.trim(row.imeNo) == "No Barcode") {
        //    $('[id*="_Quantity"]').attr("readonly", false);
        //}
        //else
        //{
        //    $('[id*="_Quantity"]').attr("readonly", true);
        //}
        ToggleTilesField(Category);
        ToggleUnitPriceField(UnitType);

    });
    $table.on('uncheck.bs.table', function (e, row) {
        $('#ProductDetailsCode').val('');
        $('#ProductDetailsName').val('');
        $('#ProductDetailsId').val('');
        $('#StockDetailsId').val('');
        $('#ColorsId').val('');
        $('[id*="_IMENo"]').val('');
        $('[id*="_ColorName"]').val('');
        $('[id*="_PreviousStock"]').val('');
        $('[id*="_MRPRate"]').val('').trigger("input");
       // $('[id*="_Quantity"]').val('');
        $('[id*="_TotalArea"]').val('').trigger("input");
        $('[id*="_OfferDescription"]').text('');
    });

    function ToggleTilesField(Category)
    {
        if (Category == "Tiles") {
            $("#AreaPerCartondiv").show();
            $("#TotalAreadiv").show();
            //$("#RatePerAreadiv").show();
            $("#lblRatePerArea").text($.trim('Rate/Sqft'));
        }
        else {
            $("#AreaPerCartondiv").hide();
            $("#TotalAreadiv").hide();
            //$("#RatePerAreadiv").hide();
        }
    }

    function ToggleUnitPriceField(UnitType)
    {
        if (UnitType.toLowerCase() == "pcs")
        {

            $("#divUnitPrice").hide();
            $("#divChildQuantity").hide();
        }
        else
        {
            $("#divUnitPrice").show();
            $("#divChildQuantity").show();
        }
    }
</script>
