@model IEnumerable<GetProductViewModel>
<div class="input-group">
    <input type="text" class="input-sm form-control input-sm" id="ProductsCode" name="ProductsCode" value="@ViewBag.ProductsCode" readonly="readonly">
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-info" onclick="GetProductsByID()"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Pick</button>
    </span>
    <input type="text" class="input-sm form-control input-sm" id="ProductsName" name="ProductsName" value="@ViewBag.ProductsName" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="ProductsId" name="ProductsId" value="@ViewBag.ProductsId" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="ProductsType" name="ProductsType" value="@ViewBag.ProductsType" readonly="readonly">
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="ProductsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Existing Products</h5>
            </div>
            <div class="modal-body">
                <div id="Productstoolbar">
                    @Html.ActionLink("Create new", "Create", "Product", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm", target = "_blank" })
                    <span class="text-warning">&nbsp;(Requires reload current page to get new item)</span>
                </div>
                <table id="ProductsTable"
                       data-toolbar="#Productstoolbar"
                       data-toggle="table"
                       data-search="true"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-detail-view="true"
                       data-pagination="true"
                       data-id-field="name"
                       data-page-list="[10, 25, 50, 100, ALL]"
                       data-page-size="6"
                       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-field="id" class="hidden">
                            </th>
                            <th data-field="ColorID" class="hidden">  </th>
                            <th data-field="ProductID" class="hidden">  </th>
                            <th data-field="ColorCode" class="hidden">
                            <th data-field="ConvertValue" class="hidden">
                            </th>
                            <th data-checkbox="true">
                            </th>
                            <th data-field="code"
                                data-sortable="true">
                                Code
                            </th>
                            <th data-field="name"
                                data-sorter="sorter"
                                data-sortable="true">
                                Name
                            </th>
                            <th data-field="ColorName"
                                data-sorter="sorter"
                                data-sortable="true">
                                Color
                            </th>
                            <th data-field="category"
                                data-sorter="sorter"
                                data-sortable="true">
                                Category
                            </th>
                            <th data-field="CompanyName"
                                data-sorter="sorter"
                                data-sortable="true">
                                CompanyName
                            </th>

                            <th data-field="preStock"
                                data-sorter="sorter"
                                data-sortable="true">
                                Pre. Stock
                            </th>
                            <th data-field="ParentUnit"
                                data-sorter="sorter"
                                data-sortable="true">
                                Parent Unit Name
                            </th>
                            <th data-field="ConvertValue"
                                data-sorter="sorter"
                                data-sortable="true">
                                ConvertValue
                            </th>
                            <th data-field="MRP"
                                data-sorter="sorter"
                                data-sortable="true">
                                MRP Rate
                            </th>

                            <th data-field="IMENo"
                                data-sorter="sorter"
                                data-sortable="true" class="hidden">

                                IME No.
                            </th>

                            <th data-field="ProductsType" class="hidden"></th>
                            <th data-field="StockDetailsId" class="hidden">  </th>
                            <th data-field="StockDetailID" class="hidden">  </th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var $tblProduct = $('#ProductsTable');
    $(document).ready(function () {
        $('[id*="_PreviousStock"]').val(@ViewBag.ProductsPreviousStock);
    });
    $tblProduct.on('check.bs.table', function (e, row) {

        var UnitType = $.trim(row.ParentUnit);
        var CUnitType = $.trim(row.ChildUnit);

        if (UnitType.toLowerCase() == "pcs") {
            //alert('fired');
            $("#divUnitPrice").hide();
            $("#divChildQuantity").hide();
        }
        else {
            $("#lblParentUnit").text($.trim(UnitType));
            $("#lblChildUnit").text($.trim(CUnitType));
            //alert(UnitType);
            //alert(CUnitType);
            $("#divUnitPrice").show();
            $("#divChildQuantity").show();
        }
        $('#ProductsCode').val($.trim(row.code));
        $('#ProductsName').val($.trim(row.name));
        $('#ProductDetailsName').val($.trim(row.name));
        $('#ProductsId').val($.trim(row.id));
        $('#ProductsType').val($.trim(row.ProductsType));
        $('#ProductDetailsId').val($.trim(row.id));
        console.log(row.id);
        $('#ProductDetailsId').val($.trim(row.id));

        $('#SODetail_ProductCode').val($.trim(row.code));
        $('#SODetail_ProductName').val($.trim(row.name));

        $('[id*="_PreviousStock"]').val($.trim(row.preStock));
        $('[id*="_CRSalesRate3Month"]').val($.trim(row.MRP));
        $('[id*="_SalesRate"]').val($.trim(row.MRP));
        $('#txtProductId').val($.trim(row.id)).trigger("input");
        $('#SODetail_ProductId').val($.trim(row.id)).trigger("input");
        $('[id*="_MRPRate"]').val($.trim(row.PurchaseRate)).trigger("input");
        $('#SODetail_SalesRate').val($.trim(row.MRP)).trigger("input");
        $('#SODetail_UnitPrice').val($.trim(row.MRP)).trigger("input");
        $('#SODetail_MRPRate').val($.trim(row.MRP)).trigger("input");
        $('#SODetail_StockDetailId').val($.trim(row.StockDetailID));


        $('#GodownID').val($.trim(row.godownID));
        $('#SODetail_IMENo').val($.trim("No Barcode"));

        $('[id*="_ColorName"]').val($.trim(row.ColorName));
        $('[id*="_CategoryName"]').val($.trim(row.category));
        $('[id*="_RatePerArea"]').val($.trim(row.MRP)).trigger("input");
        $('[id*="_MRPRate"]').val($.trim(row.MRP)).trigger("input");
        $('[id*="_Quantity"]').val('0');

        $("#lblParentUnit").text($.trim(row.ParentUnit));
        $("#lblChildUnit").text($.trim(row.ChildUnit));
        $("#lblMRP").text('Rate/' + $.trim(row.ChildUnit));
        $("#lblConvertValue").text($.trim(row.ChildUnit) + '/' + $.trim(row.ParentUnit));
        $("#lblRatePerArea").text($.trim('Rate/' + $.trim(row.ParentUnit)));
        $('[id*="_ConvertValue"]').val($.trim(row.ConvertValue));
        $('[id*="_SizeName"]').val($.trim(row.SizeName));
        $('#SODetail_ColorId').val($.trim(row.ColorID));
        $('#SODetail_ColorName').val($.trim(row.ColorName));


        if ($.trim(row.IMENo) == "No Barcode") {
            $('[id*="_Quantity"]').attr("readonly", false);
        }
        else {
           /* $('[id*="_Quantity"]').attr("readonly", true);*/
        }

    });
    $tblProduct.on('uncheck.bs.table', function (e, row) {
        $('#ProductsCode').val('');
        $('#ProductsName').val('');
        $('#ProductsId').val('');
        $('#ProductsType').val('');
        $('[id*="_PreviousStock"]').val('');
        $('[id*="_MRPRate"]').val('').trigger("input");
        $('[id*="_PRate"]').val('').trigger("input");
        $('[id*="_ComissionRate"]').val('').trigger("input");
        $('[id*="SODetail_PPDiscountAmount"]').val('').trigger("input");
    });


    //**********************************
    // picker data load
    //**********************************
    function GetProductsByID() {
        $tblProduct.bootstrapTable('removeAll');
        var DOID = getDefaultFloatIfEmpty($('input[id*="_DOID"]').val());
        if (DOID > 0)
            GetDOByID(DOID);
        else
            GetStockProducts();
    }

    function GetDOByID(DOID) {
        $.ajax({
            url: "/DO/GetDOByID",
            type: "GET",
            data: { 'DOID': DOID },
            dataType: "json",
            success: function (data) {
                PopulateProductDetailsTable(data);
                $('#ProductsModal').modal('toggle');
            },
            error: function (err) {
                console.error(err);
            }
        });
    }

    function GetStockProducts() {
        $.ajax({
            url: "/Stock/GetStockProducts",
            type: "GET",
            dataType: "json",
            success: function (data) {
                PopulateProductDetailsTable(data);
                $('#ProductsModal').modal('toggle');
            },
            error: function (err) {
                console.error(err);
            }
        });
    }

    //Generate product picker
    function PopulateProductDetailsTable(data) {
        $tblProduct.bootstrapTable('load', data)
    }

</script>
