@model dynamic
<div class="input-group">
    <input type="text" class="input-sm form-control input-sm" id="SuppliersCode" name="SuppliersCode" value="@ViewBag.SuppliersCode" readonly="readonly">
    <span class="input-group-btn">
        <button type="button" id="SupplierPicker" class="btn btn-sm btn-info" data-toggle="modal" data-target="#SuppliersModal"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Pick</button>
    </span>
    <input type="text" class="input-sm form-control input-sm" id="SuppliersName" name="SuppliersName" value="@ViewBag.SuppliersName" readonly="readonly">
    <input type="hidden" class="input-sm form-control input-sm" id="SuppliersId" name="SuppliersId" value="@ViewBag.SuppliersId" readonly="readonly">
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="SuppliersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Existing Suppliers</h5>
            </div>
            <div class="modal-body">
                <div id="Supplierstoolbar">
                    @Html.ActionLink("Create new", "Create", "Supplier", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm", target = "_blank" })
                    <span class="text-warning">&nbsp;(Requires reload current page to get new item)</span>
                </div>
                <table id="SuppliersTable"
                       data-toolbar="#Supplierstoolbar"
                       data-toggle="table"
                       data-search="true"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-detail-view="true"
                       data-pagination="true"
                       data-id-field="name"
                       data-page-list="[10, 25, 50, 100, ALL]"
                       data-page-size="6"
                       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-field="id" class="hidden">
                            </th>
                            <th data-checkbox="true">
                            </th>
                            <th>
                                Sl
                            </th>
                            <th data-field="code"
                                data-sortable="true">
                                Code
                            </th>
                            <th data-field="name"
                                data-sorter="sorter"
                                data-sortable="true">
                                Name
                            </th>
                            <th data-field="contactNo"
                                data-sorter="sorter"
                                data-sortable="true">
                                Contact No.
                            </th>
                            <th data-field="totalDue"
                                data-sorter="sorter"
                                data-sortable="true">
                                Total Due
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="hidden">
                                        @item.Id
                                    </td>
                                    <td></td>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @item.Code
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.ContactNo
                                    </td>
                                    <td>
                                        @item.TotalDue
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var $table = $('#SuppliersTable');
    $(document).ready(function () {
        $('[id*="_CurrentDue"]').val(@ViewBag.SuppliersCurrentDue);
        //$('[id*="_CurrentDue"]').trigger("input");
    });
    $table.on('check.bs.table', function (e, row) {
        $('#SuppliersCode').val($.trim(row.code));
        $('#SuppliersName').val($.trim(row.name));
        $('#SuppliersId').val($.trim(row.id));
        $('[id*="CurrentDue"]').val($.trim(row.totalDue));
        });
    $table.on('uncheck.bs.table', function (e, row) {
        $('#SuppliersCode').val('');
        $('#SuppliersName').val('');
        $('#SuppliersId').val('');
        $('[id*="CurrentDue"]').val('');
        });
</script>
