@model IEnumerable<IMSWEB.MenuViewModel>

@{
    ViewBag.Title = "Menus";
}

<h4 class="text-left inline-header">Existing menus.</h4>
@Html.ActionLink("Create new menu", "Create", "Menu", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm pull-right" })
<hr />

<table id="menuTable"
       data-toggle="table"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-query-params="queryParams"
       data-show-export="true"
       data-detail-view="true"
       data-pagination="true"
       data-id-field="name"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-page-size="10"
       class="table table-responsive table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th data-field="title"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th data-field="parent"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th data-field="description"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th data-field="url"
                data-sorter="sorter"
                data-sortable="true">
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "if(!confirm('Do you want to delete this menu?')) return false;" })
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>
