
@using IMSWEB.Model
@model IMSWEB.CreateCashCollectionViewModel

@{
    ViewBag.Title = "Cash Delivery Report";
}

<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Ajax.BeginForm("CashDeliveryReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, ajaxOptions: new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", LoadingElementId = "spinningIcon" }, htmlAttributes: new { role = "form" }))
                {
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierID, new { @class = "control-label col-md-4 col-lg-4 full-width-picker-label", autofocus = "autofocus" })
                                <div class="col-md-8 col-lg-8 full-width-picker full-width-picker-label">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.Supplier, id = (Model != null && Model.SupplierID != null) ? Model.SupplierID : "0" });}
                                    @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4 col-lg-4">
                                    @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class='col-md-8 col-lg-8 input-group date' id='FromDate'>
                                    <input type='text' class="input-sm form-control input-sm" name='FromDate' />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4 col-lg-4">
                                    @Html.Label("To Date ", htmlAttributes: new { @class = "control-label" })
                                </div>

                                <div class='col-md-8 col-lg-8 input-group date' id='ToDate'>
                                    <input type='text' class="input-sm form-control input-sm" name='ToDate' />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-lg-4">

                        </div>
                        <div class='col-md-8 col-lg-8 input-group' id='Report'>
                            <input id="rdoAll" type="radio" title="All" value="1" name="ReportType" />All Customer &nbsp;&nbsp;
                        </div>
                    </div>
                </div>*@

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"  >
                                    <img id="spinningIcon" height="45" width="45" style="display: none;" src="~/Content/images/Spinner.gif" />
                                    <input id="btnPreview" type="submit" value="Preview" class="btn btn-sm btn-info" />
                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    $('#FromDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });

    $('#ToDate').datetimepicker({
        defaultDate: moment(),
        format: 'DD-MMM-YYYY'
    });
</script>
