 ﻿
<style>
    .col-md-4 {
        padding-right: 0px !important;
    }

    .col-md-8 {
        padding-left: 0px !important;
    }
</style>
@using IMSWEB.Model
@model SalesOrderViewModel

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = actionName + " Sales Order";
}

<style>
    div.disableCustomer {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.7;
    }
</style>
<h4 class="inline-header">@(ViewBag.Title + ".")</h4>
<hr />
@using (Html.BeginForm(actionName, "SalesOrder", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SODetail.SizeName);
    @Html.HiddenFor(m => m.SODetail.CategoryName);
    @Html.HiddenFor(m => m.SODetail.IMENo);
    @Html.HiddenFor(m => m.SODetail.StockDetailId);
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SalesOrder.CustomerId, new { @class = "control-label col-md-2" })

                                <div class="col-md-7 full-width-picker fix-width-picker" id="dvNotAllowed">
                                    @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.ExceptCreditCustomer, id = (Model != null && Model.SalesOrder.CustomerId != null) ? Model.SalesOrder.CustomerId : "0" });}
                                    @Html.ValidationMessageFor(model => model.SalesOrder.CustomerId, "", new { @class = "text-danger" })

                                </div>


                                <div class="col-md-2">
                                    <div>
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#NewCustomerModal">
                                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Add Customer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="form-group">
                                    <b><span id="SalesOrder_OfferDescription" class="tag">@Model.SalesOrder.OfferDescription</span></b>
                                </div>*@
                            <div class="form-group">
                                @Html.Hidden("externalIMENo")

                                <span style="display:none" class="text-danger" id="externalIMENoErrorID">IMEI not avaiable in stock.</span>
                            </div>
                        </div>


                        <div class="col-md-12">

                            <div class="form-group" id="normalPicker">
                                @Html.LabelFor(m => m.SODetail.ProductId, new { @class = "control-label col-md-2" })
                                <div class="col-md-10 full-width-picker fix-width-picker">
                                    @*@Html.DropDownListFor(model => model.SODetail.ProductId, new SelectList(ViewBag.ProductIds, "Value", "Name", "GodownID"), "--Select Agent--", new { @class = "form-control input-sm ddl2", @id = "txtProductId" })
                                        @Html.ValidationMessageFor(m => m.SODetail.ProductId, "", new { @class = "text-danger" })*@

                                    <div class="col-md-12 full-width-picker fix-width-picker">
                                        @{Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.SalesProduct, id = (Model != null && Model.SODetail.ProductId != null) ? Model.SODetail.ProductId : "0" });}
                                        @Html.ValidationMessageFor(model => model.SODetail.ProductId, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                            </div>

                            <div class="form-group" id="doPicker">
                                @Html.LabelFor(m => m.SODetail.ProductId, new { @class = "control-label col-md-2 full-width-picker-label" })
                                <div class="col-md-10 full-width-picker">
                                    @{
                                        Html.RenderAction("RenderPicker", "Picker", new { pickerType = PickerType.SalesDOProductPicker, id = (Model != null && Model.SODetail.ProductId != null) ? Model.SODetail.ProductId : "0" });
                                    }
                                    @Html.HiddenFor(m => m.SODetail.StockDetailId)
                                    @Html.ValidationMessageFor(m => m.SODetail.ProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.SODetail.ProductId, new { @class = "control-label col-md-4", id = "productId" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.ProductId, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.ProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.SODetail.GodownID, new { @class = "control-label col-md-4", id = "godownId" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.GodownID, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.GodownID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>



                        <div class="form-group" style="display: none;">

                            <div class="form-group">
                                @Html.LabelFor(m => m.SODetail.StockDetailId, new { @class = "control-label col-md-4", id = "lblParentUnit" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.StockDetailId, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.StockDetailId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>


                        <div class="col-md-6">
                            <div class="form-group" style="display: none">
                                @Html.Label("Convert Val", new { @class = "control-label col-md-4", id = "lblConvertValue" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.ConvertValue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", tabindex = 1, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.ConvertValue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="display: none">
                                @Html.LabelFor(m => m.SODetail.ProductName, new { @class = "control-label col-md-4", id = "lblParentUnit" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.ProductName, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="display: none">
                                @Html.LabelFor(m => m.SODetail.ColorName, new { @class = "control-label col-md-4", id = "lblParentUnit" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.ColorName, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.ColorName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="display: none">
                                @Html.LabelFor(m => m.SODetail.ProductCode, new { @class = "control-label col-md-4", id = "lblParentUnit" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.ProductCode, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.ProductCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SODetail.ParentQuantity, new { @class = "control-label col-md-4", id = "lblParentUnit" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.ParentQuantity, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.ParentQuantity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SODetail.RatePerArea, new { @class = "control-label col-md-4", id = "lblRatePerArea" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.RatePerArea, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 2 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.RatePerArea, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="display: none;">
                                @Html.LabelFor(m => m.SODetail.MRPRate, new { @class = "control-label col-md-4", id = "lblRatePerArea" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.MRPRate, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 2 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.MRPRate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SODetail.PPDPercentage, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.PPDPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.PPDPercentage, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.SODetail.PPOffer, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SODetail.PPDAmount, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.PPDAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.PPDAmount, "", new { @class = "text-danger" })

                                </div>
                            </div>



                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.SODetail.CategoryName, new { @class = "control-label col-md-4", id = "lblSize" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.CategoryName, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", tabindex = 1, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.CategoryName, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.SODetail.SizeName, new { @class = "control-label col-md-4", id = "lblSize" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.SizeName, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", tabindex = 1, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.SizeName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.SODetail.UnitType, new { @class = "control-label col-md-4", id = "lblSize" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.UnitType, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", tabindex = 1, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.UnitType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div style="display: none">
                                <div class="form-group" id="divUnitPrice">
                                    @Html.LabelFor(m => m.SODetail.UnitPrice, new { @class = "control-label col-md-4", @id = "lblMRP" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.SODetail.UnitPrice, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                        @Html.ValidationMessageFor(m => m.SODetail.UnitPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div style="display: none">
                                <div class="form-group" id="divUnitPrice">
                                    @Html.LabelFor(m => m.SODetail.ColorId, new { @class = "control-label col-md-4", @id = "lblMRP" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.SODetail.ColorId, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", step = "0.01" } })
                                        @Html.ValidationMessageFor(m => m.SODetail.ColorId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group" style="display:none" id="AreaPerCartondiv">
                                @Html.LabelFor(m => m.SODetail.AreaPerCarton, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.AreaPerCarton, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 7, @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.AreaPerCarton, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.SODetail.FractionQty)
                                    @Html.HiddenFor(m => m.SODetail.FractionAmt)
                                </div>
                            </div>



                        </div>

                        <div class="col-md-6">

                            <div class="form-group" style="display:none" id="TotalAreadiv">
                                @Html.LabelFor(m => m.SODetail.TotalArea, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.TotalArea, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.TotalArea, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group" id="divChildQuantity" style="display:none">
                                @Html.LabelFor(m => m.SODetail.ChildQuantity, new { @class = "control-label col-md-4", id = "lblChildUnit" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.ChildQuantity, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 1 } })
                                    @Html.ValidationMessageFor(m => m.SODetail.ChildQuantity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(m => m.SODetail.RatePerArea, new { @class = "control-label col-md-4", id = "lblRatePerArea" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.SODetail.RatePerArea, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", tabindex = 2 } })
                                        @Html.ValidationMessageFor(m => m.SODetail.RatePerArea, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                @Html.Label("Total Qty", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.Quantity, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.Quantity, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.SODetail.MRPRate, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SODetail.UTAmount, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.UTAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SODetail.UTAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @{
                                if (ViewBag.IsVulcanizing)
                                {

                                    <div class="form-group" style="padding-left: 10px;">
                                        @Html.LabelFor(m => m.SODetail.VehicleID, new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.SODetail.VehicleID, new SelectList(ViewBag.Vehicle, "Id", "Name"), "--Select Product--", new { @class = "form-control input-sm ddl2", @id = "txtFProductId" })
                                            @Html.ValidationMessageFor(m => m.SODetail.VehicleID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SODetail.VehicleNo, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(m => m.SODetail.VehicleNo, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "text", step = "0.01" } })
                                            @Html.ValidationMessageFor(m => m.SODetail.VehicleNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                            }


                        </div>


                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="pull-right">
                                    <input type="submit" class="btn btn-sm btn-primary" id="btnAdd" name="addButton" value="Add to order" />
                                    <button type="button" class="btn btn-sm btn-danger">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.SalesOrder.CurrentDue, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SalesOrder.CurrentDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SalesOrder.CurrentDue, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @*@Html.LabelFor(m => m.SalesOrder.TotalOffer, new { @class = "control-label col-md-4" })*@
                                @Html.LabelFor(m => m.SalesOrder.GrandTotal, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @*@Html.EditorFor(m => m.SalesOrder.TotalOffer, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })*@
                                    @Html.HiddenFor(m => m.SalesOrder.GrandTotal)
                                    @Html.ValidationMessageFor(m => m.SalesOrder.GrandTotal, "", new { @class = "text-danger" })
                                    @Html.EditorFor(m => m.SalesOrder.GrandTotal, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SalesOrder.GrandTotal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SalesOrder.TotalAmount, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SalesOrder.TotalAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SalesOrder.TotalAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(m => m.SODetail.DONo, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SODetail.DONo, new { htmlAttributes = new { @class = "input-sm form-control input-sm", } })
                                    @Html.HiddenFor(m => m.SODetail.DOID, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.SalesOrder.InvoiceNo, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.SalesOrder.InvoiceNo, new { htmlAttributes = new { @class = "input-sm form-control input-sm", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SalesOrder.InvoiceNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SalesOrder.OrderDate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class='input-group date' id='OrderDate'>
                                        @if (User.IsInRole("Mobile User"))
                                        {
                                            <input type='text' class="input-sm form-control input-sm" name='OrderDate' readonly />
                                        }
                                        else
                                        {
                                            <input type='text' class="input-sm form-control input-sm" name='OrderDate' />
                                        }
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.SalesOrder.OrderDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SalesOrder.RemindDate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class='input-group date' id='RemindDate'>
                                        <input type='text' class="input-sm form-control input-sm" name='RemindDate' />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.SalesOrder.RemindDate, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>

                        <div class="col-md-6">
                            <div class="form-group" style="display:none">
                                @Html.LabelFor(m => m.SalesOrder.PPDiscountAmount, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.HiddenFor(m => m.SalesOrder.PPDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.HiddenFor(m => m.SalesOrder.TempFlatDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.SalesOrder.PPDiscountAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">


                        <div class="col-md-12">
                            <h4 class="text-center">Payment Method</h4>
                            <table class="tbl table-bordered showHide" id="tblDirectFlow" style="width: 100%;">
                                <tr>
                                    @*<td style="width: 50px; background-color: #d6d6d6; font-weight:bold;text-align:center">Id</td>*@
                                    <td style="width: 120px; background-color: #d6d6d6; font-weight:bold;text-align:center">Name <span class="required">*</span></td>
                                    <td style="width: 80px; background-color: #d6d6d6; font-weight:bold;text-align:center"> Amount <span class="required">*</span></td>
                                    <td style="width: 30px; background-color: #d6d6d6; font-weight:bold;text-align:center">Action</td>
                                    @*<td style="width: 270px; background-color: #d6d6d6; font-weight:bold;text-align:left">Reference <span class="required">*</span></td>
                                        <td></td>*@
                                </tr>
                                @foreach (var data in Model.PaymentOptionDetails)
                                {
                                    @Html.Partial("~/Views/SalesOrder/_PaymentOptionDetails.cshtml", data)
                                }
                            </table>
                            <button style="float: right !important; width: 45px;" class="fa fa-plus-circle hideCount btnDirect btn btn-primary btn-sm mr-4"></button>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <!--<div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">-->
        @*<div class="form-group">
                @Html.LabelFor(m => m.SalesOrder.VATPercentage, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.SalesOrder.VATPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                    @Html.ValidationMessageFor(m => m.SalesOrder.VATPercentage, "", new { @class = "text-danger" })
                </div>
            </div>*@


        @*<div class="form-group">
                @Html.LabelFor(m => m.SalesOrder.VATAmount, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.SalesOrder.VATAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                    @Html.ValidationMessageFor(m => m.SalesOrder.VATAmount, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.SalesOrder.TotalFractionAmt)
                </div>
            </div>*@
        @*<div class="form-group">
                @Html.LabelFor(m => m.SalesOrder.TotalFractionAmt, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.SalesOrder.TotalFractionAmt, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(m => m.SalesOrder.TotalFractionAmt, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <!--</div>

                </div>
            </div>
        </div>-->


        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-8">
                    <table id="productTable"
                           data-toggle="table"
                           data-height="272"
                           class="table table-responsive table-bordered table-striped text-nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                @*<th>OrderIndex</th>*@
                                <th>
                                    Sl
                                </th>
                                <th data-field="code"
                                    data-sortable="true">
                                    Code
                                </th>
                                <th data-field="productName"
                                    data-sorter="sorter"
                                    data-sortable="true">
                                    @Html.DisplayNameFor(model => model.SODetail.ProductName)
                                </th>

                                <th data-field="Category"
                                    data-sortable="true">
                                    @Html.DisplayNameFor(model => model.SODetail.CategoryName)
                                </th>
                                <th data-field="Size"
                                    data-sortable="true">
                                    @Html.DisplayNameFor(model => model.SODetail.SizeName)
                                </th>
                                @*<th style="display: none" data-field="unitType"
                                        data-sortable="true">
                                        UnitType
                                    </th>*@
                                <th data-field="qauntity"
                                    data-sortable="true">
                                    @Html.DisplayNameFor(model => model.SODetail.Quantity)
                                </th>
                                <th data-field="unitPrice"
                                    data-sortable="true">
                                    Sales Rate
                                </th>
                                @*<th data-field="discountPercent"
                                        data-sortable="true">
                                        Dis (%)
                                    </th>*@
                                <th data-field="discountAmount"
                                    data-sortable="true">
                                    Dis.Amt
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.SODetail.UTAmount)
                                </th>
                                @*<th></th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                int count = 1;

                                decimal MRP = 0;
                                decimal Qty = 0;
                                decimal DisAmt = 0;
                                decimal UnitPrice = 0;

                                foreach (var item in Model.SODetails)
                                {


                                    MRP = Convert.ToDecimal(@item.MRPRate) * Convert.ToDecimal(@item.ConvertValue);
                                    Qty = Convert.ToDecimal(@item.Quantity) / Convert.ToDecimal(@item.ConvertValue);
                                    //  DisAmt = Convert.ToDecimal(@item.PPDAmount) * Convert.ToDecimal(@item.ConvertValue);
                                    UnitPrice = Convert.ToDecimal(@item.UnitPrice) * Convert.ToDecimal(@item.ConvertValue);

                                    if (item.Status == EnumStatus.Updated || item.Status == EnumStatus.Deleted) { continue; }
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.OrderIndex)</td>
                                        @*<td>
                                                @count
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SizeName)
                                        </td>
                                        @*<td style="display: none">
                                                @Html.DisplayFor(modelItem => item.UnitType)

                                            </td>*@

                                        <td>
                                            @Qty
                                        </td>
                                        <td>
                                            @UnitPrice
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.PPDPercentage)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PPDAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UTAmount)
                                        </td>
                                        @*<td>
                                                @Html.ActionLink("Edit", "EditFromView", new { id = item.ProductId, detailId = item.StockDetailId, previousAction = actionName.ToLower() }, new { @class = "btn btn-xs btn-info" })
                                            </td>*@
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteFromView", "SalesOrder", new { id = item.ProductId, detailId = item.StockDetailId.Trim(','), previousAction = actionName.ToLower() }, new { onclick = "if(!confirm('Do you want to delete this order?')) return false;" })
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">

                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.TotalDiscountPercentage, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.TotalDiscountPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.TotalDiscountPercentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.TotalDiscountAmount, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.TotalDiscountAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.TotalDiscountAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.VATPercentage, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.VATPercentage, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.VATPercentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.RecieveAmount, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.RecieveAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.RecieveAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.Remarks, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.Remarks, new { htmlAttributes = new { @class = "input-sm form-control input-sm", type = "text", } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">


                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.AdjAmount, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.AdjAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.AdjAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.NetDiscount, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.NetDiscount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.NetDiscount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.VATAmount, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.VATAmount, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.VATAmount, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.SalesOrder.TotalFractionAmt)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.LabourCost, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.LabourCost, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.LabourCost, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.SalesOrder.TotalFractionAmt)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SalesOrder.PaymentDue, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.SalesOrder.PaymentDue, new { htmlAttributes = new { @class = "input-sm form-control input-sm text-right", type = "number", step = "0.01", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(m => m.SalesOrder.PaymentDue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        @Html.EditorFor(m => m.SalesOrder.IsSmsEnable, new { htmlAttributes = new { @class = "form-check-input" } })
                        @Html.LabelFor(m => m.SalesOrder.IsSmsEnable, htmlAttributes: new { @class = "form-check-label" })
                        @Html.ValidationMessageFor(m => m.SalesOrder.IsSmsEnable, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-sm btn-primary pull-right" name="submitButton" id="submitButton" value="Save order" onclick="checkReceivedAmount()">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp; Save order
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>



}


<div id="NewCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Create New Retail Customer</h5>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerName">Name:</label>
                        <div class=" col-sm-9 col-md-9 col-lg-9">
                            <input type="text" class="form-control input-sm" id="txtNewCustomerName" placeholder="Enter Name" name="txtNewCustomerName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerContact">Contact No.:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" class="form-control input-sm" id="txtNewCustomerContact" placeholder="Enter Contact Number" name="txtNewCustomerContact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerAddress">Address:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" class="form-control input-sm" id="txtNewCustomerAddress" placeholder="Enter Address" name="txtNewCustomerAddress">
                            <input type="hidden" value="0.00" class="form-control input-sm" id="txtNewCustomerOpeningDue" placeholder="Enter Opening Due" name="txtNewCustomerOpeningDue">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txtNewCustomerOpeningDue">Opening Due:</label>
                            <div class=" col-sm-9 col-md-9 col-lg-9">
                                <input type="number" class="form-control input-sm" id="txtNewCustomerOpeningDue" placeholder="Enter Opening Due" name="txtNewCustomerOpeningDue">
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveNewCustomer" class="btn btn-primary btn-sm">Save</button>
            </div>
        </div>
        <input type="hidden" id="UnderRateSales" value="@ViewBag.UnderRateSales" />
    </div>
</div>


<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 10 || event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        if ($('#SODetail_DONo').val().length) {
            $('#doPicker').show();
            $('#normalPicker').hide();
        } else {
            $('#doPicker').hide();
            $('#normalPicker').show();
        }


    });

    function TableRowCount() {
        $("#productTable").find(".no-records-found").remove();
        var rowCounter = parseFloat($('#productTable >tbody >tr').length);
        return rowCounter;
    }

    var rowCounter = TableRowCount();
    if (rowCounter > 0) {
        $('#dvNotAllowed').addClass('disableCustomer');
    } else {
        $('#dvNotAllowed').removeClass('disableCustomer');
    }



    $(document).ready(function () {


        var PPdiscountAmt = $("#SalesOrder_NetDiscount").val();
        var FlatDis = $("#SalesOrder_TotalDiscountAmount").val();

        var totalPPdis = PPdiscountAmt - FlatDis;

        if (totalPPdis != null) {
            $("#SalesOrder_PPDiscountAmount").val(totalPPdis);


        }

        $('#addButton').on('click', function () {

            var productId = $('#StockDetailsId').val();

            if (!productId) {
                alert('Product Id is required.');
                return false;
            }

            return true;
        });
    });





    $('#OrderDate').datetimepicker({
        @{
                if (Model == null || Model.SalesOrder.OrderDate == null) {
                    @:defaultDate: moment(),
                                                                                                                    }
                else
                {
            @:defaultDate:'@(Convert.ToDateTime(Model.SalesOrder.OrderDate).ToString("dd-MMM-yyyy"))',
                                                                                                            }

            @:format: 'DD-MMM-YYYY'
                                                                                                                    }
    });

    $('#RemindDate').datetimepicker({
        @{
        if (Model == null || Model.SalesOrder.RemindDate == null)
        {
                @:defaultDate: moment(),
                                        }
                else
                {
                @:defaultDate:'@(Convert.ToDateTime(Model.SalesOrder.RemindDate).ToString("dd-MMM-yyyy"))',
                                        }
                @:format: 'DD-MMM-YYYY'
                            }
    });

    $("#externalIMENo").on("input", function () {
        $("#externalIMENoErrorID").hide();
        setTimeout(function () {
            $.ajax({
                url: "/SalesOrder/GetProductDetailByIMEINo",
                type: "GET",
                data: { 'imeiNo': $("#externalIMENo").val() },
                dataType: "json",
                success: function (data) {
                    if(data==false)
                    {
                        $("#externalIMENoErrorID").show();
                    }

                    setPickerControls(data);
                    $("#externalIMENo").val('');
                    $("#externalIMENo").attr('autofocus', 'autofocus');
                },
                error: function (err) {
                    clearPickerControls();
                    console.error(JSON.stringify(err));
                }
            });
        }, @((User.Identity.GetConcernId() == 5 || User.Identity.GetConcernId() == 6 || User.Identity.GetConcernId() == 1) ? 1000 : 200));
    });


    function setPickerControls(data) {
        var UnitType = $('#PODetail_UnitType').val();
        if (data && data.Code != '') {
            $("#ProductDetailsCode").val(data.Code);
            $("#ProductDetailsName").val(data.Name);
            $("#ProductDetailsId").val(data.Id);
            $("#StockDetailsId").val(data.StockDetailId);
            $("#ColorsId").val(data.ColorId);
            $("#SODetail_ColorName").val(data.ColorName);
            $("#SalesOrder_OfferDescription").text(data.OfferDescription);
            $("#Offer").val(data.OfferDescription);
            $("#SODetail_Quantity").val('');
            $("#SODetail_IMENo").val(data.IMEINo);
            $("#SODetail_MRPRate").val(data.MrpRate).trigger("input");

        }
        else {
            clearPickerControls();
        }
    }




    function clearPickerControls() {
        $("#ProductDetailsCode").val('');
        $("#ProductDetailsName").val('');
        $("#ProductDetailsId").val('');
        $("#StockDetailsId").val('');
        $("#ColorsId").val('');
        $("#SODetail_ColorName").val('');
        $("#Offer").val('');
        $("#SalesOrder_OfferDescription").val('');
        $("#SODetail_Quantity").val('');
        $("#SODetail_IMENo").val('');
        $("#SODetail_MRPRate").val('').trigger("input");
    }



    //*************************
    //Per Product event
    //*************************


    $("#SODetail_Quantity").on("input", function () {
        calculateSorderDetailsValue();
    });

    $("#SODetail_MRPRate").on("input", function () {
        var MRPRate = getDefaultFloatIfEmpty($(this).val());
        $("#SODetail_UnitPrice").val(MRPRate).trigger("input");
    });

    $("#SODetail_UnitPrice").on("input", function () {
        calculateSorderDetailsValue();
        $("#SODetail_PPDPercentage").trigger("input");
    });



    $("#SODetail_PPDPercentage").on("input", function () {
        var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
        var percentage = getDefaultFloatIfEmpty($(this).val());
        var quantity = getDefaultIntIfEmpty($("#SODetail_Quantity").val());
        var unitPrice = getDefaultFloatIfEmpty($("#SODetail_UnitPrice").val());
        var amount = ((percentage / 100) * unitPrice * (ConvertValue)).toFixed(2);
        $("#SODetail_PPDAmount").val(amount);
        calculateSorderDetailsValue();
    });

    $("#SODetail_PPDAmount").on("input", function () {
        var quantity = getDefaultIntIfEmpty($("#SODetail_ParentQuantity").val());
        var MRP = getDefaultFloatIfEmpty($("#SODetail_UnitPrice").val());
        var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
        var quantityInStandardUnit = quantity / ConvertValue; // Convert quantity to a standard unit
        var percentage = getDefaultFloatIfEmpty(((this.value / (MRP)) * 100) / ConvertValue).toFixed(2);
        $("#SODetail_PPDPercentage").val(percentage);
        calculateSorderDetailsValue();
    });



    $("#SODetail_PPOffer").on("input", function () {
        calculateSorderDetailsValue();
        $("#SODetail_PPDPercentage").trigger("input");

    });

    function CalculateTotalQty() {
    var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
    var ChildQty = getDefaultFloatIfEmpty($("#SODetail_ChildQuantity").val());
    var ParentQty = getDefaultFloatIfEmpty($("#SODetail_ParentQuantity").val());
    var TotalQty = parseFloat((ConvertValue * ParentQty) + ChildQty);
    //alert(TotalQty)
    $("#SODetail_Quantity").val(TotalQty).trigger('input');
}



    function calculateSorderDetailsValue() {
        var quantity = getDefaultFloatIfEmpty($("#SODetail_Quantity").val());
        var parentQuantity = getDefaultFloatIfEmpty($("#SODetail_ParentQuantity").val());
        var unitpr = getDefaultFloatIfEmpty($("#SODetail_UnitPrice").val());
        var MRP = getDefaultFloatIfEmpty($("#SODetail_MRPRate").val());
        /*var PPDAmount = getDefaultFloatIfEmpty($("#SODetail_PPDAmount").val());*/
        var Offeramount = getDefaultFloatIfEmpty($("#SODetail_PPOffer").val());
        var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());

        var MRP = getDefaultFloatIfEmpty($("#SODetail_MRPRate").val());
        var PPDAmount = getDefaultFloatIfEmpty($("#SODetail_PPDAmount").val());
        //alert(unitpr);


        var utamount = ((unitpr * quantity) - (PPDAmount * (quantity / ConvertValue)) - Offeramount).toFixed(2);
        console.log(quantity / ConvertValue)

        $("#SODetail_UTAmount").val(utamount);
    }

    function CalculatePerPcsRate() {
        var ParentUnitPrice = getDefaultFloatIfEmpty($("#SODetail_RatePerArea").val());
        var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
        /*var UnitPrice = parseFloat(ParentUnitPrice / ConvertValue).toFixed(4);*/
        var UnitPrice = (ParentUnitPrice / ConvertValue).toFixed(5);
        //alert(UnitPrice);
        $("#SODetail_TotalArea").val("0").trigger("input");
        $("#SODetail_UnitPrice").val(UnitPrice).trigger("input");
    }

    //====================Tiles Start==============
    $("#SODetail_ParentQuantity").on('input', function () {
        CalculateTotalQty();
        CalculateTotalArea();
    });

    $("#SODetail_ChildQuantity").on('input', function () {
        CalculateTotalQty();
        CalculateTotalArea();
    });



    $("#SODetail_RatePerArea").on('input', function () {
        CalculateTotalArea();
    });

    $("#SODetail_TotalArea").on('input', function () {
        CalculatePcsFromArea(this.value);
    });

    function CalculateTotalArea() {
        var SizeName = $("#SODetail_SizeName").val();
        var CategoryName = $("#SODetail_CategoryName").val();
        var spSize = SizeName.split('x');
        if (CategoryName == "Tiles") {
            var TotalQty = $("#SODetail_Quantity").val();
            var FractionQty = $("#SODetail_FractionQty").val();
            TotalQty = TotalQty + FractionQty;
            var SqFtPerPcs = GetSqftPerPcs(spSize[0], spSize[1]); //sq ft
            var TotalAreaSqft = $("#SODetail_TotalArea").val(); //parseFloat(SqFtPerPcs * TotalQty); //sq ft
            //$("#SODetail_TotalArea").val(TotalAreaSqft);
            var RatePerSqFt = getDefaultFloatIfEmpty($("#SODetail_RatePerArea").val()); //rate per sq ft
            var RatePerPcs = parseFloat(SqFtPerPcs * RatePerSqFt);
            $("#SODetail_MRPRate").val(RatePerPcs).trigger('input');
            //var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
            //var AreaPerCarton = parseFloat(ConvertValue * SqFtPerPcs);
            //$("#SODetail_AreaPerCarton").val(AreaPerCarton);
            CalulateFractionPart(TotalQty, RatePerPcs);
        }
        else {
            CalculatePerPcsRate();
        }
    }

    function GetSqftPerPcs(LengthCM, WidthCM) {
        var Length = parseFloat(LengthCM / 2.5).toFixed(4); //Inc
        var Width = parseFloat(WidthCM / 2.5).toFixed(4); // Inc
        var SqFtPerPcs = ((parseFloat(Length * Width)) / 144); //sq ft
        return SqFtPerPcs;
    }

    function CalculatePcsFromArea(TotalArea) {
        var CategoryName = $("#SODetail_CategoryName").val();
        var SizeName = $("#SODetail_SizeName").val();
        var spSize = SizeName.split('x');
        if (CategoryName == "Tiles") {
            //var SqFtPerPcs =GetSqftPerPcs(spSize[0],spSize[1]); //sq ft
            var AreaPerCarton = $("#SODetail_AreaPerCarton").val();
            var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
            var SqFtPerPcs = parseFloat(AreaPerCarton / ConvertValue);//sq ft

            var TotalQty = TotalArea / SqFtPerPcs;

            $("#SODetail_Quantity").val(Math.trunc(TotalQty));


            var RatePerSqFt = getDefaultFloatIfEmpty($("#SODetail_RatePerArea").val()); //rate per sq ft
            var RatePerPcs = parseFloat(SqFtPerPcs * RatePerSqFt);
            $("#SODetail_MRPRate").val(RatePerPcs).trigger('input');

            CalulateFractionPart(TotalQty, RatePerPcs);
            //var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
            //var AreaPerCarton = parseFloat(ConvertValue * SqFtPerPcs);
            //$("#SODetail_AreaPerCarton").val(AreaPerCarton);

            var Carton = parseInt(TotalQty / ConvertValue);
            var Pcs = parseInt(TotalQty % ConvertValue);
            $("#SODetail_ParentQuantity").val(Carton);
            $("#SODetail_ChildQuantity").val(Pcs);
        }
    }




    //====================Tiles End==============

    //*************************
    //Per Product event end
    //*************************


    //Flat discount percentage
    $("#SalesOrder_TotalDiscountPercentage").on("input", function () {
        var totalPercentage = getDefaultFloatIfEmpty($(this).val());
        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty((totalAmount * totalPercentage) / 100).toFixed(2);
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());

        $("#SalesOrder_TotalDiscountAmount").val(totalDiscountAmount);
        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    });

    //Flat discount amount
    $("#SalesOrder_TotalDiscountAmount").on("input", function () {
        var totalDiscountAmount = getDefaultFloatIfEmpty($(this).val());

        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalPercentage = getDefaultFloatIfEmpty((100 * totalDiscountAmount) / totalAmount).toFixed(2);
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());

        $("#SalesOrder_TotalDiscountPercentage").val(totalPercentage);
        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    });

    $("#SalesOrder_VATPercentage").on("input", function () {
        var vatPercentage = getDefaultFloatIfEmpty($(this).val());
        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var netDiscount = getDefaultFloatIfEmpty($("#SalesOrder_NetDiscount").val());
        var vatAmount = getDefaultFloatIfEmpty(((totalAmount - netDiscount) * vatPercentage) / 100);
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());

        $("#SalesOrder_VATAmount").val(vatAmount.toFixed(2));
        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    });

    $("#SalesOrder_VATAmount").on("input", function () {
        var vatAmount = getDefaultFloatIfEmpty($(this).val());
        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var netDiscount = getDefaultFloatIfEmpty($("#SalesOrder_NetDiscount").val());
        var vatPercentage = getDefaultFloatIfEmpty((100 * vatAmount) / (totalAmount - netDiscount));
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());

        $("#SalesOrder_VATPercentage").val(vatPercentage.toFixed(2));
        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    });

    $("#SalesOrder_LabourCost").on("input", function () {
        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    });
    $("#SalesOrder_RecieveAmount").on("input", function () {
        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    });

    $("#SalesOrder_AdjAmount").on("input", function () {
        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    });

    //$("#SalesOrder_CurrentDue").on("input", function () {
    //    if (window.location.pathname.toLowerCase() == "/salesorder/create") {
    //        var totalAmount = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
    //        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
    //        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
    //        calculateVariousValue(totalDiscountAmount, vatAmount, totalAmount);
    //    }
    //});

    function calculateVariousValue(flatDiscountAmount, vatAmount, GrandtotalAmount, IsFlatDiscPercent) {
        var totalPPDisAmt = getDefaultFloatIfEmpty($("#SalesOrder_PPDiscountAmount").val());
        var recieveAmount = getDefaultFloatIfEmpty($("#SalesOrder_RecieveAmount").val());
        var adjAmount = getDefaultFloatIfEmpty($("#SalesOrder_AdjAmount").val());
        var TotalOffer = getDefaultFloatIfEmpty($("#SalesOrder_TotalOffer").val());
        var labourCost = getDefaultFloatIfEmpty($("#SalesOrder_LabourCost").val());
        //var dueAmount = getDefaultFloatIfEmpty($("#SalesOrder_CurrentDue").val());
        //var tempFlatDisAmount = getDefaultFloatIfEmpty($("#SalesOrder_TempFlatDiscountAmount").val());
        //var FlatPercent = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountPercentage").val());
        //var updateFlateDisAmt = (((GrandtotalAmount - totalPPDisAmt) * FlatPercent) / 100);// flatDiscountAmount - tempFlatDisAmount;

        //alert("TotalPP: "+ totalPPDisAmt);
        //alert("Flat Dis: " + flatDiscountAmount);

        var updatedNetDiscountAmount = parseFloat(flatDiscountAmount) + parseFloat(totalPPDisAmt) + parseFloat(TotalOffer);

        $("#SalesOrder_NetDiscount").val(getDefaultFloatIfEmpty(updatedNetDiscountAmount).toFixed(2));
        $("#SalesOrder_TotalAmount").val(getDefaultFloatIfEmpty((GrandtotalAmount - (updatedNetDiscountAmount + adjAmount)) + vatAmount + labourCost).toFixed(2));

        //alert("GTotal: " + GrandtotalAmount);
        //alert("Total Discount: "+ updatedNetDiscountAmount);
        //alert("Adjsutmet: "+ adjAmount);
        //alert("Vat: "+ vatAmount);
        //alert("LabourCost: "+ labourCost);
        $("#SalesOrder_PaymentDue").val(getDefaultFloatIfEmpty(((GrandtotalAmount - (updatedNetDiscountAmount + adjAmount)) + vatAmount + labourCost) - recieveAmount).toFixed(2));
    }

    //DO Auto get by Customer id
    $('input[id="SODetail_DONo"]').autocomplete({
        source: function (request, response) {
            //var customerid = $('#txtCustomerId').val();
            var customerid = $('#CustomerId').val();
            if (customerid == "") {
                toastr.error("Please select customer");
                return;
            }
            if (request.term == "") {
                $("#SODetail_DOID").val("");
            }
                $.ajax({
                    url: "@Url.Action("GetDOByCustomerID", "DO")",
                    type: "POST",
                    dataType: "json",
                    data: { CustomerID: customerid,Prefix: request.term },
                    success: function (data) {
                        //$('#doPicker').show(500);
                        //$('#normalPicker').hide(500);
                        if (data.result == false) {
                            toastr.error("DO not found");
                            return;
                        }
                        response($.map(data, function (item) {
                            return { label: item.Remarks, value: item.Remarks, ID: item.DOID };
                        }))

                    },
                    error: function () {
                        //$('#doPicker').hide(500);
                        //$('#normalPicker').show(500);
                    }
                });
            },
            minLength: 0,
            select: function (event, ui) {
                $("#SODetail_DONo").val(ui.item.label);
                $("#SODetail_DOID").val(ui.item.ID);

                $('#doPicker').show();
                $('#normalPicker').hide();
            },
            maxShowItems: 5
    });




    //******************************************************
    //          Create New Retail Customer Start
    //******************************************************
    $(document).on('click','#btnSaveNewCustomer',function(){
        //alert("OK")
        var name = $("#txtNewCustomerName").val();
        var Contact = $("#txtNewCustomerContact").val();
        var Address = $("#txtNewCustomerAddress").val();
        var OpeningDue = $("#txtNewCustomerOpeningDue").val();
        var CustomerType ="@EnumCustomerType.Retail";
        if(name=="")
        {
            $("#txtNewCustomerName").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerName").attr('style','border:1px solid #c4daf1  !important');
        }
        if(Contact=="")
        {
            $("#txtNewCustomerContact").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerContact").attr('style','border:1px solid #c4daf1  !important');
        }
        if(Address=="")
        {
            $("#txtNewCustomerAddress").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerAddress").attr('style','border:1px solid #c4daf1  !important');
        }
        if(OpeningDue=="")
        {
            $("#txtNewCustomerOpeningDue").attr('style','border:1px solid red !important');
        }
        else
        {
            $("#txtNewCustomerOpeningDue").attr('style','border:1px solid #c4daf1  !important');
        }
        if(name==""||Contact==""||Address==""||OpeningDue=="")
        {
            return;
        }
        var model = {
            Id: 0,
            Code: "",
            Name: name,
            ContactNo: Contact,
            Address: Address,
            TotalDue: OpeningDue,
            CustomerType: CustomerType
        };

        $.ajax({
            url: "/Customer/CreateCustomer",
            type: "POST",
            data: model,
            dataType: "json",
            success: function (data) {
                if (data.Result == false) {
                    toastr.error(data.ErrorMsg);
                } else {
                    toastr.info(data.ErrorMsg);
                    $("#NewCustomerModal").modal('toggle');
                    SetCustomerData(data.Customer);
                    ClearTextBox();


                    var customer = data.Customer;

                    var div = document.createElement('div');
                    div.className = 'dropdown-item';
                    div.innerHTML = `
    <div class="customer-name-code">${customer.Name} (${customer.Code})</div>
    <div class="customer-details">${customer.Address || 'N/A'} | ${customer.ContactNo || 'N/A'}</div>
`;

                    div.addEventListener('click', () => {
                        $('#CustomerId').val($.trim(customer.Id));
                        $('#CustomersCode').val($.trim(customer.Code));
                        $('#CustomersName').val($.trim(customer.Name));
                        $('#txtCustomerId').val($.trim(customer.Id));
                        $('[id*="_CurrentDue"]').val($.trim(customer.TotalDue));
                        dropdownLabel.textContent = `${customer.Name} (${customer.Code})`;
                        dropdownList.style.display = 'none';
                    });

                    // Optionally highlight it as selected immediately:
                    div.style.backgroundColor = '#e9ecef';
                    dropdownLabel.textContent = `${customer.Name} (${customer.Code})`;
                    $('#CustomerId').val(customer.Id);
                    $('#CustomersCode').val(customer.Code);
                    $('#CustomersName').val(customer.Name);
                    $('#txtCustomerId').val(customer.Id);
                    $('[id*="_CurrentDue"]').val(customer.TotalDue);

                    // Append the new customer to the top of the list
                    dropdownItems.prepend(div);



                    var newOption = $('<option>');
                    newOption.val(data.Customer.Id);
                    newOption.text(data.Customer.Name);
                    $('#txtCustomerId').append(newOption);


                    $('#txtCustomerId').val(data.Customer.Id);
                    loadCustomerInfo(data.Customer.Id);
                }
            },
            error: function (err) {
                toastr.error(JSON.stringify(err));
            }
        });
    });

    function SetCustomerData(Customer)
    {
        $("#CustomersCode").val(Customer.Code);
        $("#CustomersName").val(Customer.Name);
        $("#CustomersId").val(Customer.Id);
        $("#SalesOrder_CurrentDue").val(Customer.TotalDue);
    }

    function ClearTextBox()
    {
        $("#txtNewCustomerName").val("");
        $("#txtNewCustomerContact").val("");
        $("#txtNewCustomerAddress").val("");
        $("#txtNewCustomerOpeningDue").val(0);
    }

    //******************************************************
    //          Create New Retail Customer end
    //******************************************************


    //******************************************************
    //          Product data populate with new picker
    //******************************************************



    //$('#txtProductId').change(function () {
    //    var prId = getDefaultIntIfEmpty($(this).val());
    //    if (prId > 0) {
    //        loadProductInfo(prId);
    //    }
    //});



    $('#txtCustomerId').change(function () {
        var cusId = getDefaultIntIfEmpty($(this).val());
        if (cusId > 0) {
            loadCustomerInfo(cusId);
        }
    });

    function loadCustomerInfo(customerId) {

        $.ajax({
            url: "/SalesOrder/GetCustomerInfoById",
            type: "GET",
            data: { 'customerId': customerId },
            dataType: "json",
            success: function (customer) {
                $('#CustomersCode').val($.trim(customer.Code));
                $('#CustomersName').val($.trim(customer.Name));
                $('#txtCustomerId').val($.trim(customer.Id));
                $('[id*="CurrentDue"]').val($.trim(customer.TotalDue));
                //alert(customer.Id)

                $('#txtCustomerId option[value="' + customerId + '"]').prop('selected', true);
            },
            error: function (err) {
                toastr.error(JSON.stringify(err));
                console.log(JSON.stringify(err))
            }
        });
    }

    $('#txtProductId').change(function () {
        var selectedValue = $(this).val();
        if (selectedValue) {
            var ids = selectedValue.split('|');
            var productId = ids[0]
            var godownId = ids[1];
            //alert(productId)
            //alert(godownId);
            loadProductInfo(productId, godownId)
        }
    });


    function loadProductInfo(productId, godownId) {
        $.ajax({
            url: "/SalesOrder/GetProductInfoById",
            type: "GET",
            data: { 'productId': productId, 'godownId': godownId },
            dataType: "json",
            success: function (product) {
                var Category = $.trim(product.CategoryName);
                var UnitType = $.trim(product.ParentUnit);
                var CUnitType = $.trim(product.ChildUnit);

                if (UnitType.toLowerCase() == "pcs") {
                    //alert('fired');
                    $("#divUnitPrice").hide();
                    $("#divChildQuantity").hide();
                }
                else {
                    $("#lblParentUnit").text($.trim(UnitType));
                    $("#lblChildUnit").text($.trim(CUnitType));
                    //alert(UnitType);
                    //alert(CUnitType);
                    $("#divUnitPrice").show();
                    $("#divChildQuantity").show();
                }

                $('[id*="_TotalArea"]').val('').trigger("input");
                $('#SODetail_ProductCode').val($.trim(product.ProductCode));
                $('#SODetail_ProductName').val($.trim(product.ProductName));

                $('#txtProductId').val($.trim(product.ProductId)).trigger("input");

                //alert(product.GodownID)
                $('#SODetail_GodownID').val($.trim(product.GodownID)).trigger("input");
                $('#SODetail_ProductId').val($.trim(product.ProductId)).trigger("input");

                //$('#ProductDetailsId').val($.trim(product.ProductId));
                $('#SODetail_StockDetailId').val($.trim(product.StockDetailsId));
                $('#SODetail_ColorId').val($.trim(product.ColorId));
                $('#SODetail_ColorName').val($.trim(product.ColorName));


                $('[id*="_IMENo"]').val($.trim(product.IMENo));
                $('[id*="_ColorName"]').val($.trim(product.ColorName));
                $('[id*="_CategoryName"]').val($.trim(product.CategoryName));
                $('[id*="_PreviousStock"]').val($.trim(product.PreStock));
                $('[id*="_RatePerArea"]').val($.trim(product.ParentMRP)).trigger("input");
                $('[id*="_MRPRate"]').val($.trim(product.MRPRate)).trigger("input");
                $('[id*="_Quantity"]').val('0');

                $("#lblParentUnit").text($.trim(product.ParentUnit));
                $("#lblChildUnit").text($.trim(product.ChildUnit));
                $("#lblMRP").text('Rate/' + $.trim(product.ChildUnit));
                $("#lblConvertValue").text($.trim(product.ChildUnit) + '/' + $.trim(product.ParentUnit));
                $("#lblRatePerArea").text($.trim('Rate/' + $.trim(product.ParentUnit)));
                $('[id*="_ConvertValue"]').val($.trim(product.ConvertValue));
                $('[id*="_SizeName"]').val($.trim(product.SizeName));
                $('[id*="_AreaPerCarton"]').val($.trim(product.SalesCSft));
                $('id*="_UnitType"]').val($trim(product.UnitType));


                ToggleTilesField(Category);
                ToggleUnitPriceField(UnitType);
            },
            error: function (err) {
                toastr.error(JSON.stringify(err));
                console.log(JSON.stringify(err))
            }
        });
    }




    $('#txtEmployeeId').change(function () {
        var empId = getDefaultIntIfEmpty($(this).val());
        if (empId > 0) {
            loadEmployeeInfo(empId);
        }
    });

    function loadEmployeeInfo(employeeId) {
        $.ajax({
            url: "/SalesOrder/GetEmployeeInfoById",
            type: "GET",
            data: { 'employeeId': employeeId },
            dataType: "json",
            success: function (employee) {
                $('#EmployeesCode').val($.trim(employee.Code));
                $('#EmployeesName').val($.trim(employee.Name));
                $('#EmployeesId').val($.trim(employee.Id));
            },
            error: function (err) {
                toastr.error(JSON.stringify(err));
                console.log(JSON.stringify(err))
            }
        });
    }




    $(document).on('click', '#btnAdd', function (e) {
        var UnderRateSaleStatus = $("#UnderRateSales").val();

        var TotalAmt = $("#SODetail_UTAmount").val();
        var PoRate = $("#SODetail_MRPRate").val();
        var ConvertValue = getDefaultFloatIfEmpty($("#SODetail_ConvertValue").val());
        var ParentQty = getDefaultFloatIfEmpty($("#SODetail_Quantity").val());
        var unitPrice = PoRate / ConvertValue;
        var totalPrice = unitPrice * ParentQty;

        if (UnderRateSaleStatus > 0) {
            if (totalPrice > TotalAmt) {
                toastr.error("Can not sales under purchase rate. If need sales purchase rate plz contact support");
                e.preventDefault();
                $("#SODetail_RatePerArea").focus();
                return false;
            }
        }


    });






    $(".btnDirect").click(function () {

        var Id = $('#tblDirectFlow tr').length;
        $.ajax({
            url: '@Url.Action("AddNew")',
            data: { id: Id },
            cache: false,
            async: false,
            success: function (html) {
                $('#tblDirectFlow tr:last').after(html);
                updateFieldsBasedOnPaymentOption();
            }
        });
        return false;
    });



    $(document).ready(function () {

        $(".ddl2").select2({
            placeholder: "--- Select ---"
        });

        updateFieldsBasedOnPaymentOption();
    });


    function updateFieldsBasedOnPaymentOption() {

        $("#tblDirectFlow tr.taxSlotRowDirect").each(function () {
            //var paymentOptionId = $(this).find("select[id^='ddlPaymentOptionId']").val();
            var paymentOptionId = $(this).find("select[id^='ddlPaymentOptionId'] option:selected").text();
            var bankIdColumn = $(this).find("select[id^='ddlbankId']");
            var bankCheck = $(this).find("input[id$='ChecqueNo']");

        });
    }



    function UpdatePaidAmount() {
        var inputGrTotal = 0;
        $('input[name$="PaidAmount"]').each(function () {
            inputGrTotal += getDefaultFloatIfEmpty($(this).val());
        });
        $("#SalesOrder_RecieveAmount").val(getDefaultFloatIfEmpty(inputGrTotal));

        var GrandTotal = getDefaultFloatIfEmpty($("#SalesOrder_GrandTotal").val());
        var totalDiscountAmount = getDefaultFloatIfEmpty($("#SalesOrder_TotalDiscountAmount").val());
        var vatAmount = getDefaultFloatIfEmpty($("#SalesOrder_VATAmount").val());
        calculateVariousValue(totalDiscountAmount, vatAmount, GrandTotal);
    }

    function calcPaidAmount(e) {
        UpdatePaidAmount();
    }
</script>

<script>

    $("#SODetail_DONo").on('blur', function () {
        var DoCheck = ($("#SODetail_DONo").val());
        if (DoCheck !== null) {
            $("#CustomerPicker").prop("disabled", true);
            //$("#txtCustomerId").prop("disabled", true);
        }
        else {
            $("#CustomerPicker").prop("disabled", false);
            //$("#txtCustomerId").prop("disabled", false);
        }
    });


    $(document).ready(function () {
        var DoCheck = ($("#SODetail_DONo").val());
        if (DoCheck !== null && DoCheck.trim() !== "") {
            $("#CustomerPicker").prop("disabled", true);
            $("#SODetail_DONo").prop("readonly", true);
            //$("#txtCustomerId").prop("disabled", true);

        }
        else {
            $("#CustomerPicker").prop("disabled", false);
            //$("#txtCustomerId").prop("disabled", false);

        }


    });


</script>



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {           
            $('.input-sm').on('focus', function (e) {
                $(this).on('wheel.disableScroll', function (e) {
                    e.preventDefault();
                });
            }).on('blur', function (e) {
                $(this).off('wheel.disableScroll');
            });
        });
    </script>
}